.ecode_section_120_template_185 {
	position: relative;
	display: block;
	padding: 50px 35px 30px;
	@include tablet {
		padding: 95px 70px 80px;
	}
	.ecode_width_120_185 {
		position: relative;
		display: block;
		z-index: 1;
		@include desktop {
			max-width: 1375px;
			margin: 0 auto;
		}
		section {
			@include tablet {
				@include flexbox;
				@include justify-content(center);
				@include align-items(flex-start);
				@include flex-wrap(wrap);
			}
			article {
				margin-bottom: 40px;
				@include tablet {
					width: calc( 50% - 20px );
					margin-right: 40px;
					&:nth-child(2n) {
						margin-right: 0;
					}
				}
				@include desktop {
					width: calc( ( 100% / 3) - 26px );
					margin-right: 39px;
					&:nth-child(2n) {
						margin-right: 39px;
					}
					&:nth-child(3n) {
						margin-right: 0;
					}
				}
				.ecode_article_figure {
					position: relative;
					display: block;
					margin-bottom: 30px;
					height: 400px;
					overflow: hidden;
					@include desktop {
						height: 500px;
					}
					img {
						position: absolute;
						display: block;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
						min-width: 100%;
						min-height: 100%;
						object-fit: cover;
					}
				}
				.ecode_article_title {
					position: relative;
					padding: 0 25px 5px;
					font-size: 25px;
					line-height: 45px;
					text-transform: uppercase;
					text-align: center;
					a {
						text-decoration: none;
						color: inherit;
					}
				}
				.ecode_article_info {
					position: relative;
					font-size: 12px;
					line-height: 18px;
					padding: 0 25px 20px;
					text-align: center;
					a {
						text-decoration: none;
						color: inherit;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
		.ecode_container_pagination {
			position: relative;
			@include flexbox;
			@include justify-content(center);
			@include align-items(center);
			@include flex-wrap(wrap);
			padding-top: 15px;
			a, span {
				position: relative;
				display: block;
				font-size: 18px;
				line-height: 28px;
				text-decoration: none;
				margin: 0 10px;
				color: $c-black;
				font-weight: 500;
				-webkit-font-smoothing: auto;
				border-bottom: 2px solid transparent;
			}
			a.page-numbers {
				&:hover {
					color: $c-c;
				}
			}
			.prev, .next {
				width: 100%;
				text-align: center;
				margin: 20px 0;
				@include tablet {
					width: auto;
					margin: 0 20px;
				}
			}
			.current {
				border-bottom: 2px solid $c-c;
				color: $c-c;
			}
		}
	}
}
