.ecode_section_35_template_142 {
	.ecode_width {
		position: relative;
		width: 85%;
		min-width: 85%;
		margin: 0 auto;
		padding: 50px 0;
		@include tablet {
			@include flexbox;
			@include justify-content(space-between);
			@include align-items(flex-start);
			@include flex-wrap(wrap);
			width: 100%;
			min-width: inherit;
			padding: 50px;
			max-width: 1310px;
		}
	}
	.ecode_container_form {
		position: relative;
		display: block;
		@include tablet {
			width: calc( 70% - 20px );
			order: 1;
		}
		.ecode_title {
			position: relative;
			font-size: 20px;
			line-height: 22px;
			font-weight: 400;
			padding-bottom: 21px;
			margin-bottom: 21px;
		}
		.wpcf7 {
			position: relative;
			.wpcf7-form {
				position: relative;
				display: block;
				padding: 0;
				box-sizing: border-box;
				@include tablet {
					@include flexbox;
					@include justify-content(space-between);
					@include align-items(center);
					@include flex-wrap(wrap);
				}
				.container_input {
					position: relative;
					padding: 11px 0;
					@include tablet {
						width: calc( 50% - 5px );
						// margin-bottom: 30px;
					}
					label {
						position: relative;
						display: block;
						font-size: 14px;
						line-height: 25px;
						font-weight: 700;
						color: $c-grey9c;
						margin-bottom: 7px;
					}
					input, textarea, select {
						width: 100%;
						box-sizing: border-box;
						padding: 13px;
						border: none;
						border: 1px solid $c-greye1;
						background-color: $c-greyf8;
						color: $c-grey91;
						border-radius: 0;
						font-size: 16px;
						line-height: 17px;
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
						box-shadow: none;
						&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
							opacity: 0;
						}
						&::-moz-placeholder { /* Firefox 19+ */
							opacity: 0;
						}
						&:-ms-input-placeholder { /* IE 10+ */
							opacity: 0;
						}
						&:-moz-placeholder { /* Firefox 18- */
							opacity: 0;
						}
					}
					textarea {
						height: 112px;
						resize: none;
					}
				}
				.container_input_full {
					@include tablet {
						width: 100%;
					}
				}
				.acceptance {
					position: relative;
					width: 100%;
					margin-bottom: 30px;
					@include desktop {
						width: 60%;
					}
					input {
						position: absolute;
						opacity: 0;
						pointer-events: none;
					}
					p {
						&:first-child {
							position: relative;
							font-size: 15px;
							line-height: 20px;
							color: $c-grey74;
							padding-left: 31px;
							box-sizing: border-box;
							margin: 0;
							cursor: pointer;
							&::after {
								content: '';
								position: absolute;
								top: 0px;
								left: 0;
								width: 20px;
								height: 20px;
								background-color: $c-white;
								border: 1px solid $c-greydd;
								box-sizing: border-box;
								border-radius: 100%;
								z-index: 5;
							}
							a {
								color: $c-grey74;
							}
						}
					}
					input[type="checkbox"]:checked ~ span > p {
						&:first-child {
							&::before {
								content: '';
								position: absolute;
								top: 5px;
								left: 5px;
								width: 10px;
								height: 10px;
								border-radius: 100%;
								background-color: $c-c;
								pointer-events: none;
								z-index: 10;
							}
						}
					}
				}
				.container_legal {
					position: relative;
					display: block;
					margin: 0 0 30px;
					background-color: $c-greyf5;
					border: 2px solid $c-greydd;
					padding: 5px;
					box-sizing: border-box;
					height: 60px;
					overflow: hidden;
					overflow-y: scroll;
					border-radius: 5px;
					scrollbar-width: none; // Firefox
					&::-webkit-scrollbar { // Chrome
						display: none;
					}
					p {
						font-size: 12px;
						line-height: 20px;
						margin: 0 0 10px;
						color: $c-black55;
						&:last-child {
							margin-bottom: 0;
						}
						a {
							color: $c-black55;
							text-decoration: none;
						}
					}
				}
				.container_button {
					.button {
						position: relative;
						display: inline-block;
						padding: 16px 20px;
						font-size: 14px;
						text-decoration: none;
						text-align: center;
						white-space: nowrap;
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
						border: none;
						min-width: 142px;
					}
					.button_primary {
						/*! primary_color !*/background-color: $c-c;/*! end_primary_color !*/
						color: $c-white;
					}
				}
			}
			.screen-reader-response, .wpcf7-validation-errors {
				display: none !important;
			}
			span.wpcf7-not-valid-tip {
				display: none;
			}
			input.wpcf7-not-valid, textarea.wpcf7-not-valid {
				border: 1px solid $c-red !important;
			}
			.wpcf7-response-output {
				display: none;
			}
			form.invalid {
				.wpcf7-response-output {
					display: none;
				}
			}
			form.sent {
				.wpcf7-response-output {
					display: block;
					color: $c-black;
					border: 1px solid $c-green;
					background-color: $c-white;
					text-align: center;
					font-size: 20px;
					line-height: 26px;
					padding: 24px;
					margin-top: 52px;
					width: 100%;
					 border-radius: 10px;
					span {
						color: $c-green;
					}
				}
			}
		}
	}
	.ecode_contact_info {
		padding-top: 51px;
		@include tablet {
			width: calc( 30% - 20px );
			padding: 0;
		}
		.ecode_title {
			position: relative;
			font-size: 20px;
			line-height: 22px;
			font-weight: 400;
			padding-bottom: 21px;
			margin-bottom: 21px;
		}
		.ecode_info {
			position: relative;
			margin-top: 35px;
			padding-top: 10px;
		}
		.ecode_info_text {
			font-size: 15px;
			line-height: 25px;
			color: $c-grey9c;
		}
		.ecode_container_content {
			p, a, li {
				font-size: 15px;
				line-height: 25px;
				color: $c-grey9c;
			}
			ul, ol {
				text-align: left;
				li {
					&::after {
						background-color: $c-grey9c;
					}
				}
			}
		}
		.ecode_title_aux {
			/*! primary_color !*/color: $c-c;/*! end_primary_color !*/
			font-size: 15px;
			line-height: 25px;
			font-weight: 700;
			padding-top: 13px;
		}
	}
}
