.ecode_section_139_template_208 {
	position: relative;
	display: block;
	background-color: $c-blue;
	.ecode_width_139_208 {
		position: relative;
		display: block;
		max-width: 1180px;
		margin: 0 auto;
		padding: 110px 15px 70px;
		.ecode_title {
			position: relative;
			color: $c-white;
			font-size: 40px;
			line-height: 44px;
			margin-bottom: 10px;
			text-transform: uppercase;
		}
		.ecode_subtitle {
			position: relative;
			color: $c-white;
			font-size: 16px;
			line-height: 22px;
			margin-top: 10px;
			@include desktop {
				font-size: 21px;
				line-height: 29px;
			}
		}
		.ecode_days {
			position: relative;
			@include flexbox;
			@include justify-content(flex-start);
			@include align-items(stretch);
			padding-top: 20px;
			border-bottom: 2px solid $c-white;
			overflow: hidden;
			overflow-x: scroll;
			scrollbar-width: none; // Firefox
			&::-webkit-scrollbar { // Chrome
				display: none;
			}
			.ecode_day {
				position: relative;
				list-style: none;
				width: auto;
				max-width: 40%;
				min-width: 40%;
				color: $c-white;
				padding: 10px;
				font-size: 19px;
				line-height: 27px;
				cursor: pointer;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				@include tablet {
					max-width: 30%;
					min-width: 30%;
				}
				@include desktop {
					max-width: 15%;
					min-width: 15%;
				}
			}
			.ecode_day_current {
				font-weight: bold;
				border-bottom: 2px solid $c-white;
			}
		}
		.ecode_section {
			.ecode_article {
				.ecode_article_ul {
					padding-top: 10px;
					.ecode_article_li {
						position: relative;
						list-style: none;
						padding: 30px 0 30px 10px;
						font-size: 17px;
						line-height: 18px;
						&::after {
							content: '';
							position: absolute;
							display: block;
							width: 50px;
							height: 1px;
							background-color: $c-white;
							bottom: 0;
							left: 10px;
						}
						@include tablet {
							@include flexbox;
							@include justify-content(flex-start);
							@include align-items(flex-start);
							padding: 20px 0 20px 10px;
						}
						.ecode_article_hour {
							position: relative;
							color: $c-white;
							@include tablet {
								width: 75px;
								min-width: 75px;
							}
						}
						.ecode_article_desc {
							position: relative;
							color: $c-white;
						}
						&:last-child {
							&::after {
								display: none;
							}
						}
					}
				}
			}
			.ecode_article_hide {
				display: none;
			}
		}
	}
}
