.ecode_section_19_template_24 {
	position: relative;
	padding: 90px 30px 80px;
	max-width: 880px;
	margin: 0 auto;
	.ecode_image {
		position: relative;
		text-align: center;
		margin-bottom: 30px;
	}
	.ecode_container_content {
		margin-bottom: 40px;
	}
	.ecode_author_categories {
		padding: 5px 0;
		border-top: 1px solid $c-greye8;
		border-bottom: 1px solid $c-greye8;
		margin-bottom: 60px;
		@include tablet {
			@include flexbox;
			@include justify-content(space-between);
			@include align-items(center);
		}
		* {
			position: relative;
			font-size: 12px;
			line-height: 27px;
		}
		a {
			text-decoration: none;
			color: inherit;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.ecode_shared_post {
		@include tablet {
			@include flexbox;
			@include justify-content(space-between);
			@include align-items(center);
		}
		.ecode_shared_text {
			position: relative;
			font-size: 18px;
			line-height: 20px;
			margin-bottom: 15px;
			@include tablet {
				margin-bottom: 10px;
			}
		}
		.ecode_shared {
			@include flexbox;
			@include justify-content(flex-start);
			@include align-items(center);
			@include flex-wrap(wrap);
			a {
				position: relative;
				@include flexbox;
				@include justify-content(center);
				@include align-items(center);
				margin: 0 10px 10px 0;
				width: 42px;
				height: 42px;
				font-size: 0;
				border-radius: 4px;
				i {
					svg {
						max-width: 16px;
						max-height: 16px;
					}
				}
			}
			.facebook {
				background-color: $c-facebook;
			}
			.twitter {
				background-color: $c-twitter;
			}
			.linkedin {
				background-color: $c-linkedin;
			}
			.whatsapp {
				background-color: $c-whatsapp;
			}
			.pinterest {
				background-color: $c-pinterest;
			}
			.email {
				background-color: $c-email;
			}
		}
	}
}
