.ecode_section_156_template_253 {
	position: relative;
	display: block;
	padding: 40px 20px;
	.ecode_width_156_253 {
		position: relative;
		display: block;
		max-width: 1020px;
		margin: 0 auto;
		.ecode_title {
			position: relative;
			font-size: 20px;
			line-height: 24px;
			color: $c-c;
			font-weight: bold;
			margin-bottom: 10px;
			text-align: center;
			@include tablet {
				font-size: 36px;
				line-height: 43px;
			}
		}
		.ecode_subtitle {
			position: relative;
			font-size: 15px;
			line-height: 25px;
			color: $c-black00;
			font-weight: 500;
			text-align: center;
			margin-bottom: 50px;
		}
		.ecode_articles {
			position: relative;
			@include tablet {
				@include flexbox;
				@include justify-content(space-between);
				@include align-items(flex-start);
				@include flex-wrap(wrap);
			}
			.ecode_article {
				position: relative;
				display: block;
				box-shadow: 0 1px 30px rgba(0,0,0,(1/10));
				margin-bottom: 20px;
				@include tablet {
					width: calc( 50% - 20px );
					// float: left;
					// &:nth-child(2n) {
					// 	float: right;
					// }
				}
				.ecode_article_header {
					position: relative;
					@include flexbox;
					@include justify-content(flex-start);
					@include align-items(center);
					padding: 15px;
					background-color: $c-c2;
					@include tablet {
						padding: 25px;
					}
					i {
						position: relative;
						display: block;
						width: 20px;
						min-width: 20px;
						height: 20px;
						margin-right: 20px;
						svg {
							width: 20px;
							height: 20px;
						}
					}
					.ecode_header_title {
						position: relative;
						font-size: 20px;
						line-height: 28px;
						color: $c-white;
						font-weight: bold;
						margin-right: 10px;
					}
					.ecode_header_date {
						position: relative;
						font-size: 15px;
						line-height: 25px;
						color: $c-white;
					}
				}
				.ecode_article_event {
					position: relative;
					padding: 25px;
					border-bottom: 1px solid $c-border;
					cursor: pointer;
					&:last-child {
						border: none;
					}
					.ecode_event_figure {
						position: absolute;
						@include flexbox;
						@include justify-content(center);
						@include align-items(center);
						top: 25px;
						left: 25px;
						width: 50px;
						height: 50px;
						border-radius: 25px;
						overflow: hidden;
						img {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%,-50%);
							min-width: 100%;
							min-height: 100%;
							object-fit: cover;
						}
						svg {
							width: 30px;
							height: 30px;
						}
					}
					.ecode_event_info {
						position: relative;
						display: block;
						padding-left: 70px;
						padding-right: 30px;
						.event_info_hours {
							position: relative;
							font-size: 15px;
							line-height: 25px;
							color: $c-black22;
							margin-bottom: 5px;
						}
						.event_info_title {
							position: relative;
							font-size: 16px;
							line-height: 22px;
							color: $c-black;
							margin-bottom: 5px;
							font-weight: bold;
							a {
								text-decoration: none;
								color: inherit;
								&:hover {
									color: $c-c;
								}
							}
						}
						.event_info_author {
							position: relative;
							font-size: 15px;
							line-height: 25px;
							color: $c-black;
							margin-bottom: 5px;
							.event_info_author_link {
								color: $c-c;
								font-weight: bold;
								text-decoration: none;
								&:hover {
									text-decoration: underline;
								}
							}
						}
						.ecode_container_content {
							position: relative;
							padding-top: 25px;
							margin-bottom: 15px;
						}
						.ecode_event_tags {
							position: relative;
							@include flexbox;
							@include justify-content(flex-start);
							@include align-items(center);
							@include flex-wrap(wrap);
							i {
								position: relative;
								display: block;
								width: 14px;
								min-width: 14px;
								height: 14px;
								margin-right: 10px;
								svg {
									position: absolute;
									top: 0;
									left: 0;
									width: 14px;
									height: 14px;
								}
							}
							li {
								list-style: none;
								font-size: 13px;
								line-height: 22px;
								margin-right: 10px;
								text-transform: uppercase;
								font-weight: bold;
								color: $c-black22;
							}
						}
						.ecode_event_location {
							position: relative;
							padding-top: 20px;
							margin-top: 20px;
							border-top: 1px solid $c-greye2;
							.ecode_event_location_title {
								position: relative;
								font-size: 13px;
								line-height: 22px;
								color: $c-c;
								text-transform: uppercase;
								font-weight: bold;
							}
							.ecode_event_location_text {
								position: relative;
								font-size: 15px;
								line-height: 25px;
								color: $c-black22;
							}
						}
						.ecode_article_hide_show {
							display: none;
						}
					}
					.ecode_article_icon {
						position: absolute;
						@include flexbox;
						@include justify-content(center);
						@include align-items(center);
						top: 50%;
						right: 25px;
						transform: translate(0,-50%);
						width: 20px;
						height: 20px;
						&::after {
							content: '+';
							font-size: 20px;
							line-height: 20px;
							color: $c-c2;

						}
					}
				}
				.ecode_article_event_show {
					.ecode_article_hide_show {
						display: block !important;
					}
					.ecode_article_icon {
						&::after {
							content: '-';
						}
					}
				}
			}
		}
	}
}
