$c-black: #545454;
$c-black22: #222222;
$c-black00: #000000;
$c-black26: #262626;
$c-grey77: #777777;
$c-grey88: #888888;
$c-grey99: #999999;
$c-grey66: #666666;
$c-grey5e: #5e5e5e;
$c-greyb0: #b0b0b0;
$c-greydc: #dcdcdc;
$c-greyee: #eeeeee;
$c-greye2: #e2e2e2;
$c-border: #dce0e0;
$c-white: #ffffff;
$c-red: #ff0000;
$c-green: #208320;
$c-blue: #122532;
$c-c: #FF2D55;
$c-c2: #007bff;
$c-facebook: #2D5F9A;
$c-twitter: #00C3F3;
$c-instagram: #405de6;
$c-linkedin: #0e76a8;
$c-pinterest: #c8232c;
$c-youtube: #c8232c;
