.ecode_section_36_template_44 {
	position: relative;
	display: block;
	overflow: hidden;
	.ecode_article {
		position: relative;
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(stretch);
		@include flex-wrap(wrap);
		.ecode_article_image {
			position: relative;
			@include flexbox;
			@include justify-content(center);
			@include align-items(center);
			width: 100%;
			height: 400px;
			overflow: hidden;
			@include tablet {
				width: 50%;
				height: auto;
				min-height: 400px;
			}
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				min-width: 100%;
				min-height: 100%;
				object-fit: cover;
			}
		}
		.ecode_article_info {
			padding: 60px 8%;
			width: 100%;
			@include tablet {
				@include flexbox;
				@include justify-content(flex-start);
				align-content: center;
				@include flex-wrap(wrap);
				width: 50%;
				padding: 60px;
			}
			.ecode_article_title {
				position: relative;
				font-size: 20px;
				line-height: 22px;
				font-weight: 400;
				padding-bottom: 21px;
				margin-bottom: 21px;
				width: 100%;
				a {
					color: inherit;
					text-decoration: none;
				}
			}
			.ecode_container_content {
				width: 100%;
				p, a, li {
					font-size: 15px;
					line-height: 25px;
					color: $c-grey9c;
				}
				ul, ol {
					text-align: left;
					li {
						&::after {
							background-color: $c-grey9c;
						}
					}
				}
			}
		}
		&:nth-child(2n) {
			.ecode_article_info {
				@include tablet {
					order: -1;
				}
			}
		}
	}
	.ecode_article_hide {
		transform: translate(-100px,0);
		opacity: 0;
		&:nth-child(2n) {
			transform: translate(100px,0);
		}
	}
	.ecode_article_show {
		transform: translate(0,0);
		opacity: 1;
		@include transition((3/10)+s);
	}
}
