.ecode_section_158_template_255 {
	position: relative;
	display: block;
	padding: 45px 20px;
	@include tablet {
		padding: 60px 20px;
	}
	.ecode_width_158_255 {
		position: relative;
		display: block;
		max-width: 762px;
		margin: 0 auto;
		.ecode_title {
			position: relative;
			font-size: 26px;
			line-height: 28px;
			text-align: center;
			padding-bottom: 25px;
		}
		.ecode_articles {
			position: relative;
			padding: 30px 0 36px;
			border-top: 2px solid $c-black00;
			@include tablet {
				padding: 36px 0 36px;
			}
			.ecode_articles_info {
				position: relative;
				margin-bottom: 35px;
				@include tablet {
					position: absolute;
					top: 36px;
					left: 0;
					width: 25%;
					padding: 0 15px;
				}
				.ecode_articles_info_month {
					position: relative;
					font-size: 26px;
					line-height: 32px;
					color: $c-black00;
					text-align: center;
					font-weight: bold;
				}
				.ecode_articles_info_year {
					position: relative;
					font-size: 38px;
					line-height: 38px;
					color: $c-black00;
					text-align: center;
					font-weight: bold;
				}
			}
			.ecode_article {
				position: relative;
				display: block;
				padding-bottom: 75px;
				&:last-child {
					padding-bottom: 0;
				}
				@include tablet {
					width: 75%;
					margin: 0 0 0 auto;
					padding: 0 15px 75px;
				}
				.ecode_article_info {
					position: relative;
					@include flexbox;
					@include justify-content(flex-start);
					@include align-items(flex-start);
					margin-bottom: 15px;
					.ecode_article_info_day {
						position: relative;
						width: 75px;
						min-width: 75px;
						margin-right: 18px;
						.ecode_article_info_day_text {
							position: absolute;
							display: block;
							width: 100%;
							text-align: center;
							top: 31px;
							font-size: 34px;
							line-height: 32px;
							color: $c-c;
							font-weight: bold;
						}
					}
					.ecode_article_info_title {
						position: relative;
						width: 100%;
						.ecode_article_title {
							position: relative;
							font-size: 20px;
							line-height: 24px;
							font-weight: bold;
							a {
								color: inherit;
								text-decoration: none;
								&:hover {
									color: $c-c;
								}
							}
						}
						.ecode_article_date {
							position: relative;
							font-size: 20px;
							line-height: 24px;
							color: $c-grey6d;
							font-weight: 300;
						}
						.ecode_article_additional {
							position: relative;
							font-size: 20px;
							line-height: 24px;
							color: $c-grey6d;
							font-weight: 300;
						}
					}
				}
				.ecode_container_content {
					p, a, li {
						font-size: 16px;
						line-height: 21px;
						color: $c-black00;
						font-weight: 300;
					}
					ul, ol {
						li {
							&::after {
								background-color: $c-black00;
							}
						}
					}
				}
			}
		}
	}
}
