.ecode_section_161_template_262 {
	position: relative;
	display: block;
	padding: 50px 20px 30px;
	.ecode_width_161_262 {
		position: relative;
		@include flexbox;
		@include justify-content(center);
		@include align-items(flex-start);
		@include flex-wrap(wrap);
		max-width: 300px;
		width: 100%;
		margin: 0 auto;
		@include tablet {
			max-width: 600px;
		}
		@include desktop {
			max-width: 1100px;
		}
		.ecode_list_hide {
			display: none;
		}
		.ecode_article {
			position: relative;
			@include flexbox;
			@include justify-content(flex-start);
			@include align-items(center);
			min-height: 30px;
			margin-bottom: 10px;
			width: calc( 50% - 7px );
			&:nth-child(2n+1) {
				margin-left: 14px;
			}
			@include tablet {
				width: calc( ( 100% / 3 ) - ( 14px * 2 / 3 ) );
				margin-left: 14px;
				&:nth-child(2n+1) {
					margin-left: 14px;
				}
				&:nth-child(3n+1) {
					margin-left: 0;
				}
			}
			@include desktop {
				min-height: 40px;
				width: calc( ( 100% / 7 ) - ( 10px * 6 / 7 ) );
				margin-left: 10px;
				margin-bottom: 20px;
				&:nth-child(2n+1) {
					margin-left: 10px;
				}
				&:nth-child(3n+1) {
					margin-left: 10px;
				}
				&:nth-child(7n+1) {
					margin-left: 0;
				}
			}
			.ecode_article_image {
				position: relative;
				@include flexbox;
				@include justify-content(center);
				@include align-items(center);
				width: 30px;
				height: 30px;
				margin-right: 10px;
				@include desktop {
					width: 40px;
					height: 40px;
				}
				img, i, svg {
					max-width: 30px;
					max-height: 30px;
					@include desktop {
						max-width: 40px;
						max-height: 40px;
					}
				}
			}
			.ecode_article_title {
				position: relative;
				font-size: 14px;
				line-height: 16px;
				-webkit-font-smoothing: auto;
			}
		}
		.ecode_article_hide {
			opacity: 0;
		}
		.ecode_article_show {
			opacity: 1;
			@include transition((3/10)+s);
		}
	}
}
