$c-black: #545454;
$c-black00: #000000;
$c-black26: #262626;
$c-grey88: #888888;
$c-grey99: #999999;
$c-grey66: #666666;
$c-greyb0: #b0b0b0;
$c-greyee: #eeeeee;
$c-white: #ffffff;
$c-red: #ff0000;
$c-green: #208320;
$c-blue: #122532;
$c-c: #ffbb00;
