.ecode_section_2_template_2 {
	position: relative;
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);
	height: 100vh;
	width: 100%;
	background-color: black;
	padding: 30px;
	@include desktop {
		min-height: 500px;
		height: 90vh;
		padding: 180px 30px 30px;
		@media (min-height: 800px) {
			height: 80vh;
		}
		@media (min-height: 950px) {
			height: 95vh;
		}
	}
	.img_back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba( 0,0,0,(6/10) );
			box-sizing: border-box;
			z-index: 2;
		}
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			min-height: 100%;
			min-width: 100%;
			object-fit: cover;
			z-index: 1;
		}
	}
	.content_width {
		position: relative;
		display: block;
		text-align: center;
		z-index: 5;
		@include desktop {
			max-width: 1170px;
		}
	}
	.content_width_hide {
		opacity: 0;
		transform: translate(0,-100px);
	}
	.content_width_show {
		opacity: 1;
		transform: translate(0,0);
		@include transition((3/10)+s);
	}
	.title {
		position: relative;
		font-size: 24px;
		line-height: 32px;
		color: $c-white;
		margin-bottom: 14px;
		font-family: 'secondary';
		@include tablet {
			font-size: 57px;
			line-height: 75px;
		}
		@include desktop {
			font-size: 60px;
			line-height: 80px;
		}
		span {
			color: inherit;
		}
	}
	.subtitle {
		position: relative;
		font-size: 19px;
		line-height: 30px;
		font-weight: normal;
		/*! primary_color !*/color: $c-c;/*! end_primary_color !*/
		@include tablet {
			font-size: 24px;
			line-height: 37px;
		}
	}
	.buttons {
		@include flexbox;
		@include justify-content(center);
		@include align-items(center);
		@include flex-wrap(wrap);
		.ecode_button {
			position: relative;
			padding: 9px 20px;
			text-transform: uppercase;
			font-size: 12px;
			line-height: 14px;
			text-decoration: none;
			margin: 12px 8px 0;
			@include tablet {
				margin: 23px 8px 0;
			}
			@include desktop {
				margin: 38px 8px 0;
				padding: 17px 40px;
				font-size: 18px;
				line-height: 21px;
			}
			&:hover {
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0,0,0,(1/10));
					pointer-events: none;
					z-index: 1;
				}
			}
		}
		.button_primary {
			/*! primary_color !*/background-color: $c-c;/*! end_primary_color !*/
			color: $c-black;
		}
		.button_secondary {
			background-color: $c-black;
			color: $c-white;
		}
	}
}
