.ecode_section_116_template_181 {
	position: relative;
	display: block;
	padding: 40px 35px;
	@include desktop {
		padding: 102px 35px 40px;
	}
	.ecode_width_116_181 {
		@include desktop {
			@include flexbox;
			@include justify-content(space-between);
			@include align-items(stretch);
			@include flex-wrap(wrap);
			max-width: 1345px;
			margin: 0 auto;
		}
		.ecode_title {
			position: relative;
			font-size: 41px;
			line-height: 50px;
			font-weight: normal;
			font-style: italic;
			text-align: center;
			padding-bottom: 20px;
			margin-bottom: 40px;
			@include desktop {
				font-size: 46px;
				line-height: 56px;
				padding-bottom: 24px;
				margin-bottom: 60px;
				width: 100%;
			}
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translate(-50%,0);
				width: 70px;
				height: 1px;
				background-color: $c-greye0;
			}
		}
		article {
			position: relative;
			margin-bottom: 60px;
			@include desktop {
				width: calc( 50% - 24px );
			}
			picture {
				position: relative;
				display: block;
				height: 250px;
				overflow: hidden;
				@include tablet {
					height: auto;
				}
				img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					min-width: 100%;
					min-height: 100%;
					object-fit: cover;
				}
			}
			figure {
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
				z-index: 0;
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient( rgb(3,3,3) 15%, rgba(3,3,3,(4/10)) 100% );
				}
				img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					min-width: 100%;
					min-height: 100%;
					object-fit: cover;
				}
			}
			.ecode_info {
				position: relative;
				display: block;
				padding: 40px 30px;
				z-index: 2;
				@include tablet {
					padding: 65px;
				}
				@include desktop {
					padding: 130px;
				}
				.ecode_article_name {
					position: relative;
					font-size: 16px;
					line-height: 24px;
					letter-spacing: 1px;
					color: $c-greyd6;
					font-weight: bold;
					text-transform: uppercase;
					margin-bottom: 20px;
				}
				.ecode_article_title {
					position: relative;
					font-size: 35px;
					line-height: 60px;
					color: $c-greyd6;
					text-transform: uppercase;
					margin-bottom: 20px;
					a {
						text-decoration: none;
						color: inherit;
					}
				}
				.ecode_stars {
					position: relative;
					@include flexbox;
					@include justify-content(flex-start);
					@include align-items(center);
					padding-bottom: 26px;
					i {
						position: relative;
						display: block;
						width: 15px;
						height: 15px;
						margin: 5px 8px 5px 0;
						svg {
							width: 15px;
							height: 15px;
						}
					}
				}
				.ecode_container_content {
					margin-bottom: 20px;
					@include tablet {
						margin-bottom: 40px;
					}
					p, a, li {
						font-size: 19px;
						line-height: 34px;
						color: $c-greye0;
						strong {
							color: inherit;
						}
					}
					ul, ol {
						li {
							&::after {
								background-color: $c-greye0;
							}
						}
					}
				}
				.ecode_article_button {
					position: relative;
					display: inline-block;
					padding: 15px 29px;
					font-size: 14px;
					line-height: 17px;
					letter-spacing: 1px;
					color: $c-greyd6;
					text-decoration: none;
					text-transform: uppercase;
					border: 1px solid $c-greyd6;
					white-space: nowrap;
					font-weight: bold;
					&:hover {
						background-color: $c-greyd6;
						color: $c-black00;
					}
				}
			}
		}
		.ecode_article_featured {
			@include tablet {
				@include flexbox;
				@include justify-content(center);
				@include align-items(stretch);
			}
			@include desktop {
				width: 100%;
			}
			picture {
				@include tablet {
					width: 50%;
				}
			}
			.ecode_info {
				background-color: $c-black00;
				@include tablet {
					width: 50%;
					padding: 65px;
				}
				@include desktop {
					padding: 130px;
				}
			}
		}
		.ecode_article_hide {
			opacity: 0;
		}
		.ecode_article_show {
			opacity: 1;
			@include transition((3/10)+s);
		}
	}
}
