.ecode_section_42_template_45 {
	position: relative;
	display: block;
	background-color: $c-black;
	.ecode_section {
		position: relative;
		padding: 50px 0;
		width: 85%;
		margin: 0 auto;
		@include tablet {
			@include flexbox;
			@include justify-content(center);
			@include align-items(center);
			@include flex-wrap(wrap);
			width: 100%;
			max-width: 1310px;
			padding: 50px;
		}
		.ecode_article {
			margin-bottom: 20px;
			text-align: center;
			@include tablet {
				width: 50%;
				margin: 0;
			}
			@include desktop {
				width: 25%;
			}
			.ecode_number {
				font-size: 40px;
				line-height: 40px;
				color: $c-grey91;
				-webkit-font-smoothing: auto;
			}
			.ecode_counter {
				font-size: 40px;
				line-height: 40px;
				color: $c-white;
				padding: 0 3px;
			}
			.ecode_text {
				font-size: 15px;
				line-height: 20px;
				color: $c-white;
				-webkit-font-smoothing: auto;
			}
		}
	}
}
