/******************************************************************************/
/*****                             Header open                            *****/
/******************************************************************************/
// body.header_open {
//     position: relative;
//     display: block;
//     max-width: 100vw;
//     max-height: 100vh;
//     overflow: hidden;
//     @include desktop {
//         max-width: inherit;
//         max-height: inherit;
//         overflow: inherit;
//     }
//     .class_space_menu {
//         height: 100vh !important;
//         @include desktop {
//             height: auto !important;
//         }
//     }
// }
/******************************************************************************/
/*****                              False link                            *****/
/******************************************************************************/
// .false_link {
//     cursor: pointer;
// }
/******************************************************************************/
/*****                              Width page                            *****/
/******************************************************************************/
.container_width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
/******************************************************************************/
/*****                          Class space menu                          *****/
/******************************************************************************/
// .class_space_menu {
// 	overflow: hidden;
//     padding-top: 233px;
//     box-sizing: border-box;
//     min-height: calc( 100vh - 233px );
//     @include tablet {
// 		padding-top: 220px;
//         min-height: calc( 100vh - 220px );
// 	}
//     @include desktop {
//         padding-top: 165px;
// 		min-height: calc( 100vh - 165px );
//     }
// }
/******************************************************************************/
/*****                                 404                                *****/
/******************************************************************************/
// .container_404 {
//     position: relative;
//     display: block;
//     text-align: center;
// 	padding-top: 100px;
//     padding-bottom: 200px;
//     box-sizing: border-box;
//     max-width: 960px;
//     margin: 0 auto;
// 	@include desktop {
// 		padding-top: 200px;
// 	}
//     h1 {
//         position: relative;
//         display: block;
//         text-align: center;
//         width: 100%;
//         padding: 40px 10px 50px;
//         box-sizing: border-box;
//         font-size: 34px;
//         line-height: 40px;
//         color: $c-black;
//     }
// }
/******************************************************************************/
/*****                               Content                              *****/
/******************************************************************************/
.ecode_container_content {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    br {
		display: none;
	}
    p {
        position: relative;
        display: block;
        font-size: 15px;
        color: $c-black55;
        margin: 0 0 20px;
        line-height: 28px;
        box-sizing: border-box;
        word-break: break-word;
        font-family: $font-300;
		strong {
			color: $c-black55;
	        em {
				color: $c-black55;
	        }
	    }
    }
    strong {
        font-weight: 700;
        em {
            font-weight: 700;
        }
    }
    a {
        position: relative;
        display: inline;
        font-size: 14px;
        /*! primary_color !*/color: $c-c;
        margin: 0;
        text-decoration: underline;
        strong {
            /*! primary_color !*/color: $c-c;
        }
    }
    h2, h3, h4, h5, h6 {
        position: relative;
        color: $c-black;
        margin: 40px 0 20px;
        padding: 0;
        box-sizing: border-box;
		line-height: 50px;
		span {
		}
    }
    h2 {
        font-size: 24px;
		line-height: 29px;
		@include tablet {
			font-size: 36px;
			line-height: 43px;
		}
    }
    h3 {
        font-size: 20px;
        line-height: 24px;
		@include desktop {
			font-size: 28px;
			line-height: 36px;
		}
    }
    h4 {
        font-size: 18px;
        line-height: 22px;
    }
    h5 {
        font-size: 18px;
        line-height: 22px;
    }
    h6 {
        font-size: 18px;
        line-height: 22px;
    }
    ul, ol {
        margin: 0 0 20px;
        padding: 0 10px;
        box-sizing: border-box;
        @include desktop {
            padding: 0 20px;
            box-sizing: border-box;
        }
        li {
            position: relative;
            margin-bottom: 8px;
            font-size: 15px;
            line-height: 28px;
            font-family: $font-300;
            list-style: none;
            padding-left: 10px;
            color: $c-black55;
            &:last-child {
                margin-bottom: 0;
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 10px;
                left: 0;
                background-color: $c-black55;
                width: 5px;
                height: 1px;
            }
            ul, ol {
                margin-top: 8px;
            }
        }
    }
    ol {
        margin-left: 10px;
        @include desktop {
            margin-left: 20px;
        }
        li {
            list-style: decimal;
            &::after {
                display: none;
            }
        }
    }
    img {
        max-width: 100%;
        height: auto;
        @include only_mobile {
            display: block;
            margin: 0 auto 20px;
            text-align: center;
        }
    }
    .alignleft {
        @include tablet {
            float: left;
            margin: 0 20px 20px 0;
        }
    }
    .alignright {
        @include tablet {
            float: right;
            margin: 0 0 20px 20px;
        }
    }
    .aligncenter {
        @include tablet {
            margin: 20px auto;
            display: block;
            text-align: center;
        }
    }
    .wp-caption {
        overflow: hidden;
        padding: 0;
        img {
            margin-bottom: 8px;
        }
        .wp-caption-text {
            color: $c-black;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
        }
    }
    .wp-caption.alignleft {
        float: left;
        padding: 0 10px 0 0;
    }
    .wp-caption.alignright {
        float: right;
        padding: 0 0 0 10px;
    }
    .container_video {
        text-align: center;
        margin: 60px 0;
    }
    .ancho-video-container {
        position: relative;
        display: block;
        width: 300px;
        height: auto;
        margin: 30px auto;
        text-align: center;
        @include tablet {
            width: 500px;
            height: auto;
        }
        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            text-align: center;
            iframe, object, embed, video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}
