.ecode_section_85_template_261 {
	position: relative;
	display: block;
	padding: 50px 20px 30px;
	background-color: $c-greyfa;
	@include desktop {
		padding: 115px 40px 60px;
	}
	.ecode_width_85_261 {
		position: relative;
		display: block;
		max-width: 300px;
		width: 100%;
		margin: 0 auto;
		@include tablet {
			max-width: 600px;
		}
		@include desktop {
			max-width: 1200px;
		}
		.ecode_ul {
			@include flexbox;
			@include justify-content(flex-start);
			@include align-items(center);
			margin-bottom: 40px;
			overflow: hidden;
			overflow-x: scroll;
			scrollbar-width: none; // Firefox
			&::-webkit-scrollbar { // Chrome
				display: none;
			}
			@include desktop {
				@include justify-content(center);
			}
			li {
				position: relative;
				min-width: 150px;
				list-style: none;
				font-size: 20px;
				line-height: 20px;
				/*! primary_color !*/color: $c-c;/*! end_primary_color !*/
				font-weight: bold;
				text-align: center;
				cursor: pointer;
				padding: 0 0 10px;
				margin: 0 20px 0 0;
				@include desktop {
					margin: 0 20px;
				}
			}
			li.ecode_current {
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 5px;
					/*! primary_color !*/background-color: $c-c;/*! end_primary_color !*/
					border-radius: 2px;
					pointer-events: none;
				}
			}
		}
		.ecode_list {
			@include tablet {
				@include flexbox;
				@include justify-content(center);
				@include align-items(flex-start);
				@include flex-wrap(wrap);
			}
		}
		.ecode_list_hide {
			display: none;
		}
		.ecode_article {
			position: relative;
			display: block;
			padding-left: 100px;
			margin-bottom: 50px;
			@include tablet {
				width: calc( 50% - 20px );
				margin-right: 40px;
				&:nth-child(2n) {
					margin-right: 0;
				}
				&:last-child {
					margin-right: 0;
				}
			}
			@include desktop {
				width: calc( ( 100% / 3 ) - 28px );
				margin-right: 40px;
				&:nth-child(2n) {
					margin-right: 42px;
				}
				&:nth-child(3n) {
					margin-right: 0;
				}
				&:last-child {
					margin-right: 0;
				}
			}
			.ecode_article_figure {
				position: absolute;
				top: 0;
				left: 0;
				padding-top: 5px;
				img {
					width: 65px;
					height: auto;
				}
			}
			.ecode_article_title {
				position: relative;
				font-size: 17px;
				line-height: 20px;
				font-weight: 500;
				-webkit-font-smoothing: auto;
				margin-bottom: 20px;
				a {
					text-decoration: none;
					font-weight: inherit;
					-webkit-font-smoothing: auto;
					color: inherit;
				}
			}
			.ecode_container_content {
				p, a, li {
					font-size: 15px;
					line-height: 27px;
					color: $c-grey6e;
				}
				ul, ol {
					li {
						&::after {
							background-color: $c-grey6e;
						}
					}
				}
			}
		}
		.ecode_article_hide {
			opacity: 0;
		}
		.ecode_article_show {
			opacity: 1;
			@include transition((3/10)+s);
		}
	}
	.ecode_width_85_261_hide {
		display: none;
	}
}
