.ecode_section_4_template_6 {
	position: relative;
	display: block;
	padding: 52px 30px 75px;
	@include desktop {
		padding: 52px 0 105px;
	}
	.title {
		position: relative;
		font-size: 24px;
		line-height: 30px;
		font-weight: normal;
		text-align: center;
		letter-spacing: 1px;
		padding: 0 40px 10px;
		max-width: 805px;
		margin: 0 auto 30px;
		@include tablet {
			padding-bottom: 20px;
			font-size: 31px;
			line-height: 41px;
		}
	}
	.ecode_container_content {
		position: relative;
		padding: 0 40px;
		max-width: 805px;
		margin: 0 auto 40px;
		@include tablet {
			margin: 0 auto 60px;
		}
		@include desktop {
			margin: 0 auto 80px;
		}
		p, h2, h3, h4, h5, h6, ul li, ol li {
			color: $c-grey74;
			text-align: center;
		}
		p, ul li, ol li {
			color: $c-grey74;
			text-align: center;
			font-weight: 500;
			line-height: 34px;
		}
	}
	section {
		@include tablet {
			@include flexbox;
			@include justify-content(center);
			@include align-items(stretch);
			@include flex-wrap(wrap);
		}
		@include desktop {
			padding: 0 8%;
		}
		.article {
			position: relative;
			display: block;
			background-color: $c-greyf5;
			padding: 27px 20px;
			margin-bottom: 15px;
			border-radius: 10px;
			text-align: center;
			overflow: hidden;
			@include tablet {
				width: calc( 50% - 30px );
				margin: 0 15px 15px;
			}
			@include desktop {
				width: calc( 25% - 30px );
			}
			.ecode_article_image {
				position: relative;
				@include flexbox;
				@include justify-content(center);
				@include align-items(center);
				width: 62px;
				height: 62px;
				margin: 0 auto 10px;
				border: 1px solid $c-grey74;
				border-radius: 31px;
				svg, img {
					max-width: 35px;
					max-height: 35px;
				}
			}
			.article_title {
				position: relative;
				font-size: 24px;
				line-height: 31px;
				font-weight: 400;
				letter-spacing: 1px;
				margin-bottom: 9px;
				@include tablet {
					font-size: 31px;
					line-height: 41px;
				}
			}
			.article_text {
				position: relative;
				font-size: 15px;
				line-height: 34px;
				color: $c-grey74;
				font-weight: 500;
			}
			.back {
				position: absolute;
				display: block;
				/*! primary_color !*/background-color: $c-c;/*! end_primary_color !*/
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 27px 20px;
				opacity: 0;
				transform: translate(0,100%);
				@include transition((3/10)+s);
				overflow: hidden;
				overflow-y: scroll;
				scrollbar-width: none; // Firefox
			    &::-webkit-scrollbar { // Chrome
			        display: none;
			    }
				z-index: 901;
				.back_title {
					position: relative;
					font-size: 18px;
					line-height: 28px;
					margin-bottom: 9px;
				}
				.back_text {
					position: relative;
					font-size: 15px;
					line-height: 34px;
					color: $c-black55;
					font-weight: 500;
					margin-bottom: 40px;
					@include tablet {
						margin-bottom: 20px;
					}
				}
				.ecode_button {
					position: relative;
					display: inline-block;
					padding: 13px 29px;
					text-transform: uppercase;
					font-size: 14px;
					line-height: 17px;
					text-decoration: none;
					letter-spacing: 2px;
					&:hover {
						&::after {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background-color: rgba(0,0,0,(1/10));
							pointer-events: none;
							z-index: 1;
						}
					}
				}
				.button_primary2 {
					background-color: $c-c2;
					color: $c-black;
				}
			}
			&:hover {
				.back {
					opacity: 1;
					transform: translate(0,0);
					@include transition((3/10)+s);
				}
			}
		}
		.article_hide {
			opacity: 0;
		}
		.article_show {
			opacity: 1;
			@include transition((3/10)+s);
		}
	}
}
.ecode_section_4_template_6.hover_effect {
	.article {
		.back {
			opacity: 0 !important;
			transform: translate(0,100%) !important;
		}
	}
}
.ecode_section_4_template_6.hover_effect_show {
	.article {
		.back {
			opacity: 1 !important;
			transform: translate(0,0) !important;
		}
	}
}
