.ecode_section_101_template_118 {
	position: relative;
	display: block;
	padding: 120px 20px 79px;
	.ecode_width_101_118 {
		position: relative;
		display: block;
		max-width: 300px;
		width: 100%;
		margin: 0 auto;
		@include tablet {
			max-width: 600px;
		}
		@include desktop {
			max-width: 880px;
		}
		.ecode_picture {
			position: relative;
			display: block;
			height: 180px;
			overflow: hidden;
			margin-bottom: 35px;
			@include tablet {
				height: 360px;
			}
			@include desktop {
				height: 530px;
			}
			img {
				position: absolute;
				display: block;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				min-width: 100%;
				min-height: 100%;
				object-fit: cover;
			}
		}
		.ecode_date_cat_tag {
			position: relative;
			margin-bottom: 3px;
			.ecode_article_date {
				position: relative;
				display: inline;
				font-size: 12px;
				line-height: 26px;
				font-weight: 500;
				-webkit-font-smoothing: auto;
				color: $c-c2;
			}
			.ecode_article_cat {
				position: relative;
				display: inline;
				font-size: 12px;
				line-height: 26px;
				color: $c-c2;
				font-weight: 500;
				a {
					color: inherit;
					font-weight: inherit;
					-webkit-font-smoothing: auto;
					text-decoration: none;
				}
			}
		}
		.ecode_title {
			position: relative;
			font-size: 20px;
			line-height: 32px;
			font-weight: 500;
			-webkit-font-smoothing: auto;
			margin-bottom: 15px;
			@include tablet {
				font-size: 24px;
				line-height: 38px;
			}
			a {
				text-decoration: none;
				-webkit-font-smoothing: auto;
				&:hover {
					/*! primary_color !*/color: $c-c;/*! end_primary_color !*/
				}
			}
		}
		.ecode_container_content {
			margin-bottom: 30px;
		}
		.ecode_shared_author_comments {
			position: relative;
			border-top: 1px solid $c-greyda;
			padding-top: 17px;
			@include tablet {
				@include flexbox;
				@include justify-content(space-between);
				@include align-items();
				@include flex-wrap(wrap);
			}
			.ecode_shared {
				@include flexbox;
				@include justify-content(flex-start);
				@include align-items(center);
				@include flex-wrap(wrap);
				a {
					display: inline-block;
					margin: 0 21px 15px 0;
					@include tablet {
						margin-bottom: 0;
					}
					i {
						svg {
							width: 14px;
							height: 14px;
							* {
								fill: $c-black;
							}
						}
					}
				}
			}
			.ecode_author_comments {
				@include flexbox;
				@include justify-content(flex-start);
				@include align-items(center);
				.ecode_author {
					position: relative;
					font-size: 14px;
					line-height: 14px;
					font-weight: 500;
					-webkit-font-smoothing: auto;
					color: $c-greyac;
					margin-right: 20px;
				}
				.ecode_comments {
					position: relative;
					font-size: 14px;
					line-height: 14px;
					font-weight: 500;
					-webkit-font-smoothing: auto;
					color: $c-c2;
					text-decoration: none;
					i {
						margin-right: 10px;
						svg {
							width: 14px;
							height: 14px;
							* {
								fill: $c-c2;
							}
						}
					}
				}
			}
		}
	}
}
