.ecode_section_74_template_86 {
	position: relative;
	display: block;
	background-color: $c-white;
	padding: 65px 25px 60px;
	@include tablet {
		padding: 95px 25px 65px;
	}
	@include desktop {
		padding: 140px 25px 130px;
	}
	picture {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		opacity: (7/10);
		z-index: 0;
		img {
			position: absolute;
			display: block;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			min-width: 100%;
			min-height: 100%;
			object-fit: cover;
			z-index: 1;
		}
	}
	.ecode_width_74_86 {
		position: relative;
		text-align: center;
		@include tablet {
			max-width: 630px;
			margin: 0 auto;
		}
		.ecode_title {
			position: relative;
			font-size: 30px;
			line-height: 38px;
			font-weight: 400;
			margin-bottom: 16px;
			@include tablet {
				font-size: 33px;
				line-height: 42px;
				margin-bottom: 20px;
			}
		}
		.ecode_container_content {
			margin-bottom: 20px;
			p, a, li {
				font-size: 17px;
				line-height: 31px;
				color: $c-grey67;
			}
			ul, ol {
				li {
					&::after {
						background-color: $c-grey67;
					}
				}
			}
		}
		.ecode_button {
			position: relative;
			display: inline-block;
			padding: 17px 40px;
			text-align: center;
			background-color: $c-c2;
			color: $c-white;
			text-decoration: none;
			text-transform: uppercase;
			border-radius: 2px;
			margin-bottom: 20px;
			font-size: 18px;
			line-height: 21px;
			font-weight: 600;
			&:hover {
				/*! primary_color !*/background-color: $c-c;/*! end_primary_color !*/
			}
		}
		.ecode_note {
			position: relative;
			font-size: 14px;
			line-height: 24px;
			color: $c-grey67;
		}
	}
}
