.ecode_section_40_template_50 {
	position: relative;
	width: 85%;
	padding: 50px 0;
	margin: 0 auto;
	@include tablet {
		width: 100%;
		max-width: 900px;
		padding: 50px;
	}
	.blog_comments {
		position: relative;
		display: block;
		.ecode_comments_total {
			position: relative;
			margin-bottom: 15px;
			&::after {
				content: '';
				position: absolute;
				top: 30px;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: $c-greye1;
			}
			.ecode_comments_total_number {
				position: relative;
				display: block;
				width: 94px;
				height: 60px;
				margin: 0 auto;
				text-align: center;
				font-size: 24px;
				line-height: 60px;
				color: $c-white;
				background-color: $c-white;
				z-index: 2;
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 50%;
					transform: translate(-50%,0);
					/*! primary_color !*/background-color: $c-c;/*! end_primary_color !*/
					width: 60px;
					height: 60px;
					border-radius: 100%;
					z-index: -1;
				}
			}
			.ecode_comments_total_text {
				text-align: center;
				font-size: 12px;
				line-height: 24px;
				color: $c-grey91;
				text-transform: uppercase;
			}
		}
		.comments {
			ul.list_comments {
				margin: 0;
				padding: 0;
				li {
					position: relative;
					list-style: none;
					// background-color: $c-greyf8;
					border-radius: 2px;
					padding: 20px 20px 30px 98px;
					box-sizing: border-box;
					margin-bottom: 20px;
					min-height: 110px;
					border-radius: 4px;
					@include desktop {
						padding: 20px 20px 24px 134px;
						min-height: 124px;
					}
					figure {
						position: absolute;
						display: block;
						top: 20px;
						left: 20px;
						width: 60px;
						height: 60px;
						border-radius: 100%;
						overflow: hidden;
						margin: 0;
						@include desktop {
							width: 80px;
							height: 80px;
						}
						img {
							width: 60px;
							height: auto;
							@include desktop {
								width: 80px;
							}
						}
					}
					.name_date {
						// @include desktop {
						// 	@include flexbox;
						// 	@include justify-content(flex-start);
						// 	@include align-items(center);
						// 	margin: 15px 0 11px;
						// }
						h4 {
							font-size: 15px;
							line-height: 25px;
							letter-spacing: 1px;
						}
						time {
							display: block;
							font-size: 12px;
							line-height: 11px;
							color: $c-grey91;
							margin: 0 0 11px;
						}
					}
					.comment_text {
						font-size: 14px;
						line-height: 20px;
						color: $c-black;
						margin: 0;
						* {
							color: $c-grey91;
							margin: 0;
							word-break: break-word;
						}
					}
				}
			}
			.form_comment {
				position: relative;
				display: block;
				margin-top: 50px;
				padding: 30px 20px;
				box-sizing: border-box;
				border-radius: 2px;
				@include desktop {
					padding: 60px 45px;
				}
				.title {
					font-size: 20px;
					line-height: 22px;
					letter-spacing: 1px;
					margin: 0 0 8px;
					font-weight: 400;
					@include desktop {
						font-size: 20px;
						line-height: 24px;
						margin: 0 0 27px;
					}
				}
				.desc {
					font-size: 13px;
					line-height: 20px;
					color: $c-grey9c;
					margin: 0 0 20px;
					@include desktop {
						font-size: 16px;
						line-height: 19px;
						margin: 0 0 30px;
					}
				}
				form {
					.container_input {
						position: relative;
						padding: 11px 0;
						label {
							position: relative;
							display: block;
							font-size: 12px;
							line-height: 17px;
							font-weight: 700;
							color: $c-grey9c;
							margin-bottom: 7px;
						}
						input, textarea, select {
							width: 100%;
							box-sizing: border-box;
							padding: 13px;
							border: none;
							border: 1px solid $c-greye1;
							background-color: $c-greyf8;
							color: $c-grey91;
							border-radius: 0;
							font-size: 16px;
							line-height: 17px;
							-webkit-appearance: none;
							-moz-appearance: none;
							appearance: none;
							box-shadow: none;
							&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
								color: $c-black;
								font-size: 14px;
								line-height: 24px;
							}
							&::-moz-placeholder { /* Firefox 19+ */
								color: $c-black;
								font-size: 14px;
								line-height: 24px;
							}
							&:-ms-input-placeholder { /* IE 10+ */
								color: $c-black;
								font-size: 14px;
								line-height: 24px;
							}
							&:-moz-placeholder { /* Firefox 18- */
								color: $c-black;
								font-size: 14px;
								line-height: 24px;
							}
						}
						textarea {
							height: 112px;
							resize: none;
						}
					}
					.container_input_group {
						@include tablet {
							@include flexbox;
							@include justify-content(space-between);
							@include align-items(center);
						}
						.container_input {
							@include tablet {
								width: calc( 50% - 18px );
							}
						}
					}
					.terms_submit {
						@include desktop {
							@include flexbox;
							@include justify-content(space-between);
							@include align-items(center);
							margin-top: 20px;
						}
					}
					.terms {
						margin-top: 8px;
						@include desktop {
							margin: 0;
						}
						input {
							position: absolute;
							opacity: 0;
						}
						label {
							position: relative;
							p {
								font-size: 12px;
								line-height: 18px;
								color: $c-black;
								padding-left: 32px;
								box-sizing: border-box;
								margin: 0;
								-webkit-font-smoothing: antialiased;
								cursor: pointer;
								@include desktop {
									font-size: 14px;
									line-height: 20px;
								}
								a {
									text-decoration: none;
									color: $c-black;
								}
							}
							&::after {
								content: '';
								position: absolute;
								display: block;
								top: -2px;
								left: 0;
								width: 20px;
								height: 20px;
								border: 1px solid $c-black;
								box-sizing: border-box;
								background-color: $c-white;
								border-radius: 5px;
								z-index: 5;
							}
						}
						input:checked ~ label {
							&::after {
								border: 1px solid;
								/*! primary_color !*/border-color: $c-c;/*! end_primary_color !*/
								/*! primary_color !*/background-color: $c-c;/*! end_primary_color !*/
							}
						}
					}
					.ecode_button {
						position: relative;
						display: inline-block;
						padding: 13px 29px;
						font-size: 14px;
						line-height: 17px;
						letter-spacing: 2px;
						text-decoration: none;
						text-align: center;
						// width: 100%;
						margin-top: 20px;
						border: none;
						@include desktop {
							white-space: nowrap;
							width: min-content;
							min-width: min-content;
							margin-left: 80px;
							margin: 0 0 0 20px;
						}
					}
					.ecode_button_primary {
						border: 2px solid;
						/*! primary_color !*/border-color: $c-c;/*! end_primary_color !*/
						/*! primary_color !*/background-color: $c-c;/*! end_primary_color !*/
						color: $c-white;
						&:hover {
							background-color: $c-white;
							/*! primary_color !*/color: $c-c;/*! end_primary_color !*/
						}
					}
				}
			}
		}
	}
}
