.ecode_section_127_template_193 {
	position: relative;
	display: block;
	padding: 35px;
	@include tablet {
		padding: 35px 70px 50px;
	}
	@include desktop {
		padding: 35px 35px 92px;
	}
	.ecode_width_127_193 {
		background-color: $c-black00;
		@include desktop {
			@include flexbox;
			@include justify-content(space-between);
			@include align-items(stretch);
			max-width: 1375px;
			margin: 0 auto;
		}
		.ecode_picture {
			position: relative;
			display: block;
			height: 300px;
			overflow: hidden;
			@include desktop {
				width: 50%;
				height: auto;
				height: 600px;
			}
			img {
				position: absolute;
				display: block;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				min-width: 100%;
				min-height: 100%;
				object-fit: cover;
			}
		}
		.ecode_info {
			position: relative;
			display: block;
			background-color: $c-black00;
			padding: 50px 30px;
			overflow: hidden;
			@include tablet {
				padding: 50px;
			}
			@include desktop {
				padding: 90px;
				width: 50%;
			}
			.ecode_subtitle {
				position: relative;
				font-size: 19px;
				line-height: 29px;
				letter-spacing: 2px;
				margin-bottom: 20px;
				color: $c-greyd6;
				font-weight: bold;
				text-transform: uppercase;
			}
			.ecode_title {
				position: relative;
				font-size: 35px;
				line-height: 50px;
				color: $c-white;
				margin-bottom: 20px;
				text-transform: uppercase;
			}
			.ecode_text {
				position: relative;
				font-size: 19px;
				line-height: 33px;
				margin-bottom: 20px;
				color: $c-white;
				@include tablet {
					margin-bottom: 45px;
				}
			}
			.ecode_button {
				position: relative;
				@include flexbox;
				@include justify-content(center);
				@include align-items(center);
				padding: 15px;
				font-size: 14px;
				line-height: 14px;
				letter-spacing: 1px;
				color: $c-white;
				text-decoration: none;
				text-transform: uppercase;
				border: 1px solid $c-greyd6;
				white-space: nowrap;
				width: fit-content;
				@include tablet {
					padding: 15px 29px;
				}
				i {
					position: relative;
					display: inline-block;
					width: 14px;
					height: 14px;
					margin-right: 10px;
					svg {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 14px;
						height: 14px;
					}
				}
			}
		}
		.ecode_info_hide {
			* {
				opacity: 0;
				transform: translate(-100px, 0);
			}
		}
		.ecode_info_show {
			* {
				opacity: 1;
				transform: translate(0, 0);
				@include transition((3/10)+s);
			}
		}
	}
}
