$c-black: #2c353d;
$c-black11: #111111;
$c-black33: #333333;
$c-black55: #555555;
$c-white: #ffffff;
$c-c: #efbb20;
$c-grey80: #808080;
$c-greye1: #e1e1e1;
$c-grey9c: #9c9c9c;
$c-greyf8: #f8f8f8;
$c-grey91: #919191;
$c-greydd: #dddddd;
$c-border: #5b646b;
$c-facebook: #3b5998;
$c-twitter: #00acee;
$c-linkedin: #0e76a8;
$c-instagram: #9c2282;
$c-youtube: #ff0000;
