.ecode_section_144_template_213 {
	position: relative;
	display: block;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,(6/10));
		z-index: 2;
	}
	.ecode_image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 1;
		img {
			position: absolute;
			display: block;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			min-width: 100%;
			min-height: 100%;
			object-fit: cover;
		}
	}
	.ecode_width_144_213 {
		position: relative;
		display: block;
		padding: 90px 42px;
		z-index: 5;
		@include tablet {
			width: 50%;
			margin: 0 0 0 auto;
		}
		.ecode_articles {
			position: relative;
			@include flexbox;
			@include justify-content(flex-start);
			@include align-items(flex-start);
			overflow: hidden;
			.ecode_article {
				position: relative;
				width: 100%;
				min-width: 100%;
				margin-right: 15px;
				.ecode_article_image {
					position: relative;
					display: block;
					width: 104px;
					height: 104px;
					border: 2px solid $c-white;
					border-radius: 52px;
					margin-bottom: 20px;
					overflow: hidden;
					img {
						position: absolute;
						display: block;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
						min-width: 100%;
						min-height: 100%;
						object-fit: cover;
					}
				}
				.ecode_article_text {
					position: relative;
					font-size: 16px;
					line-height: 22px;
					color: $c-greyb0;
					margin-bottom: 20px;
					@include tablet {
						font-size: 21px;
						line-height: 30px;
					}
				}
				.ecode_article_name {
					position: relative;
					font-size: 14px;
					line-height: 16px;
					color: $c-white;
					text-transform: uppercase;
					letter-spacing: 2px;
					padding-bottom: 50px;
				}
			}
			.flickity-page-dots {
				bottom: 0;
				text-align: left;
				li {
					width: 12px;
					height: 12px;
					/*! primary_color !*/background-color: $c-c;/*! end_primary_color !*/
				}
			}
		}
		.flickity-enabled {
			display: block;
		}
	}
}
