.ecode_section_102_template_119 {
	position: relative;
	display: block;
	padding: 40px 20px;
	.ecode_width_102_119 {
		position: relative;
		display: block;
		max-width: 300px;
		width: 100%;
		margin: 0 auto;
		@include tablet {
			max-width: 600px;
		}
		@include desktop {
			max-width: 880px;
		}
		.ecode_title {
			position: relative;
			font-size: 17px;
			line-height: 28px;
			font-weight: 500;
			-webkit-font-smoothing: auto;
			margin-bottom: 20px;
		}
		.ecode_articles {
			position: relative;
			padding-bottom: 20px;
			border-bottom: 1px solid $c-greyda;
			@include tablet {
				@include flexbox;
				@include justify-content(center);
				@include align-items(flex-start);
				@include flex-wrap(wrap);
			}
			article {
				position: relative;
				padding-bottom: 20px;
				@include tablet {
					width: calc( 50% - 15px );
					margin-right: 30px;
					&:nth-child(2n) {
						margin-right: 0;
					}
				}
				@include desktop {
					width: calc( ( 100% / 3 ) - 20px );
					margin-right: 30px;
					&:nth-child(2n) {
						margin-right: 30px;
					}
					&:nth-child(3n) {
						margin-right: 0;
					}
				}
				.ecode_article_figure {
					position: relative;
					display: block;
					height: 180px;
					overflow: hidden;
					margin-bottom: 28px;
					@include desktop {
						height: 165px;
					}
					img {
						position: absolute;
						display: block;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						min-width: 100%;
						min-height: 100%;
						object-fit: cover;
					}
				}
				.ecode_article_title {
					position: relative;
					font-size: 17px;
					line-height: 28px;
					font-weight: 500;
					-webkit-font-smoothing: auto;
					a {
						text-decoration: none;
						-webkit-font-smoothing: auto;
						color: inherit;
						&:hover {
							/*! primary_color !*/color: $c-c;/*! end_primary_color !*/
						}
					}
				}
				.ecode_date_cat {
					position: relative;
					margin-bottom: 3px;
					.ecode_article_date {
						display: inline;
						font-size: 12px;
						line-height: 26px;
						font-weight: 500;
						-webkit-font-smoothing: auto;
						color: $c-grey6e;
					}
					.ecode_article_cat {
						position: relative;
						display: inline;
						font-size: 12px;
						line-height: 26px;
						color: $c-c2;
						font-weight: 500;
						a {
							color: inherit;
							font-weight: inherit;
							-webkit-font-smoothing: auto;
							text-decoration: none;
						}
					}
				}
			}
			.ecode_article_hide {
				opacity: 0;
			}
			.ecode_article_show {
				opacity: 1;
				@include transition((3/10)+s);
			}
		}
		.ecode_pagination {
			position: relative;
			@include flexbox;
			@include justify-content(space-between);
			@include align-items(center);
			padding: 40px 0 30px;
			border-bottom: 1px solid $c-greyda;
			article {
				position: relative;
				display: block;
				width: 110px;
				@include desktop {
					@include flexbox;
					@include justify-content(space-between);
					@include align-items(center);
					width: auto;
				}
				.ecode_pagination_figure {
					position: relative;
					display: block;
					height: 65px;
					overflow: hidden;
					margin-bottom: 10px;
					@include desktop {
						margin: 0 30px 0 0;
						height: 75px;
						width: 130px;
						min-width: 130px;
					}
					img {
						position: absolute;
						display: block;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						min-width: 100%;
						min-height: 100%;
						object-fit: cover;
					}
				}
				.ecode_pagination_text {
					position: relative;
					font-size: 15px;
					line-height: 26px;
					font-weight: 500;
					-webkit-font-smoothing: auto;
					text-align: center;
					a {
						text-decoration: none;
						-webkit-font-smoothing: auto;
						&:hover {
							/*! primary_color !*/color: $c-c;/*! end_primary_color !*/
						}
					}
				}
			}
			.ecode_pagination_next {
				@include desktop {
					figure {
						margin: 0 0 0 30px;
					}
					p {
						order: -1;
					}
				}
			}
		}
		.ecode_pagination_right {
			@include justify-content(flex-end);
		}
	}
}
