	.ecode_section_94_template_165 {
	position: relative;
	display: block;
	padding: 63px 20px 50px;
	@include desktop {
		padding: 70px 40px 50px;
	}
	.ecode_width_94_165 {
		position: relative;
		display: block;
		max-width: 300px;
		width: 100%;
		margin: 0 auto;
		@include tablet {
			max-width: 600px;
		}
		@include desktop {
			max-width: 1200px;
			@include flexbox;
			@include justify-content(space-between);
			@include align-items(flex-start);
			@include flex-wrap(wrap);
		}
		.ecode_info {
			position: relative;
			display: block;
			@include desktop {
				width: calc( 50% - 30px);
				padding: 30px 0 0;
				text-align: right;
			}
			.ecode_title {
				position: relative;
				font-size: 35px;
				line-height: 39px;
				font-weight: 500;
				margin-bottom: 21px;
				z-index: 10;
				span {
					font-weight: 700;
				}
				@include tablet {
					font-size: 50px;
					line-height: 60px;
					margin-bottom: 24px;
				}
				@include desktop {
					text-align: right;
				}
			}
			.ecode_list {
				position: relative;
				display: block;
				padding-bottom: 34px;
				@include tablet {
					@include flexbox;
					@include justify-content(space-between);
					@include align-items(flex-start);
					@include flex-wrap(wrap);
				}
				.ecode_li {
					position: relative;
					list-style: none;
					font-size: 15px;
					line-height: 26px;
					color: $c-grey6e;
					margin-bottom: 8px;
					padding-left: 30px;
					@include tablet {
						width: calc( 50% - 15px );
					}
					@include desktop {
						padding-left: 0;
						padding-right: 30px;
					}
					i {
						position: absolute;
						@include flexbox;
						@include justify-content(center);
						@include align-items(center);
						top: 6px;
						left: 0;
						width: 13px;
						height: 13px;
						svg {
							max-width: 13px;
							max-height: 13px;
						}
						@include desktop {
							left: inherit;
							right: 0;
							transform: rotate(180deg);
						}
					}
				}
			}
			.ecode_button {
				position: relative;
				display: inline-block;
				font-size: 14px;
				line-height: 14px;
				font-weight: 500;
				color: $c-white;
				/*! primary_color !*/background-color: $c-c;/*! end_primary_color !*/
				padding: 16px 60px 16px 23px;
				text-decoration: none;
				border-radius: 5px;
				-webkit-font-smoothing: auto;
				@include desktop {
					padding: 16px 23px 16px 60px;
				}
				i {
					position: absolute;
					top: 0;
					left: 0;
					width: 39px;
					width: 39px;
					height: 100%;
					background-color: $c-c-h;
					border-radius: 5px 0 0 5px;
					z-index: 1;
					svg {
						position: absolute;
						top: 50%;
						right: 16px;
						transform: translate(0,-50%) rotate(180deg);
						height: auto;
						width: 7px;
						z-index: 4;
						* {
							fill: $c-white;
						}
					}
				}
				&:hover {
					background-color: $c-c-h;
				}
			}
		}
		.ecode_image {
			position: relative;
			display: block;
			height: 270px;
			overflow: hidden;
			// margin-bottom: 50px;
			@include tablet {
				height: 550px;
			}
			@include desktop {
				width: calc( 50% - 30px);
			}
			img {
				position: absolute;
				display: block;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				min-width: 100%;
				min-height: 100%;
				object-fit: cover;
			}
		}
		.ecode_info.ecode_element_hide {
			transform: translate(100px, 0);
		}
		.ecode_image.ecode_element_hide {
			transform: translate(-100px, 0);
		}
		.ecode_element_hide {
			opacity: 0;
		}
		.ecode_element_show {
			transform: translate(0,0);
			opacity: 1;
			@include transition((3/10)+s);
		}
	}
}
