.ecode_section_52_template_60 {
	position: relative;
	display: block;
	padding: 72px 30px 44px;
	text-align: center;
	@include tablet {
		padding: 83px 30px 66px;
	}
	@include desktop {
		padding: 100px 30px;
	}
	.ecode_figure {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 0;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			min-width: 100%;
			min-height: 100%;
			object-fit: cover;
		}
	}
	.ecode_subtitle {
		position: relative;
		font-size: 18px;
		line-height: 21px;
		/*! primary_color !*/color: $c-c;/*! end_primary_color !*/
		text-transform: uppercase;
		margin: 0 0 20px;
		font-weight: bold;
		font-family: 'secondary';
	}
	.ecode_title {
		position: relative;
		font-size: 50px;
		line-height: 70px;
		color: $c-greyb1;
		margin: 0 0 40px;
		font-family: 'secondary';
		@include tablet {
			font-size: 70px;
			line-height: 95px;
			margin: 0 0 60px;
		}
	}
	section {
		@include desktop {
			@include flexbox;
			@include justify-content(center);
			@include align-items(flex-start);
			@include flex-wrap(wrap);
			max-width: 1150px;
			margin: 0 auto;
		}
		article {
			position: relative;
			padding: 30px 40px 20px;
			@include desktop {
				width: calc( 100% / 3 );
				padding: 30px 52px 20px;
			}
			.ecode_article_image {
				position: relative;
				width: 100%;
				height: 110px;
				text-align: center;
				img, svg {
					height: 110px;
					width: auto;
				}
			}
			.ecode_article_title {
				position: relative;
				font-size: 30px;
				line-height: 45px;
				/*! primary_color !*/color: $c-c;/*! end_primary_color !*/
				margin: 0 0 20px;
				a {
					color: inherit;
					text-decoration: none;
				}
			}
			.ecode_article_subtitle {
				position: relative;
				display: block;
				font-size: 16px;
				line-height: 30px;
				color: $c-white;
				margin: 0 0 20px;
				font-weight: bold;
				text-transform: uppercase;
			}
			.ecode_container_content {
				margin: 0 0 20px;
				p, a, li {
					font-size: 18px;
					line-height: 33px;
					color: $c-grey68;
				}
				ul, ol {

					li {
						&::after {
							background-color: $c-grey68;
						}
					}
				}
			}
		}
		.ecode_article_hide {
			opacity: 0;
			transform: translate(100px, 0);
		}
		.ecode_article_show {
			opacity: 1;
			transform: translate(0, 0);
			@include transition((3/10)+s);
		}
	}
	.ecode_buttons {
		text-align: center;
		padding-top: 60px;
		.ecode_button {
			position: relative;
			display: inline-block;
			padding: 17px 40px;
			border: 2px solid;
			/*! primary_color !*/border-color: $c-c;/*! end_primary_color !*/
			/*! primary_color !*/color: $c-c;/*! end_primary_color !*/
			text-transform: uppercase;
			text-decoration: none;
			font-size: 18px;
			line-height: 21px;
			font-weight: 700;
			width: 100%;
			max-width: 320px;
			margin: 0 auto;
			text-align: center;
			&:hover {
				border: 2px solid $c-c-h;
				color: $c-c-h;
			}
			@include tablet {
				max-width: inherit;
				width: auto;
				white-space: nowrap;
			}
		}
	}
}
