.ecode_section_14_template_19 {
	position: relative;
	display: block;
	padding: 40px 30px 50px;
	max-width: 1200px;
	margin: 0 auto;
	@include tablet {
		padding: 70px 30px;
	}
	@include desktop {
		padding: 90px 30px 90px 330px;
	}
	.ecode_container_content_headers {
		position: fixed;
		display: none;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
		@include desktop {
			position: absolute;
			display: block;
			width: 270px;
			height: auto;
			top: 90px;
			left: 30px;
		}
		p {
			position: relative;
			display: none;
			padding: 14px;
			font-size: 18px;
			line-height: 27px;
			text-align: center;
			font-weight: 400;
			/*! primary_color !*/background-color: $c-c;/*! end_primary_color !*/
			/*! secondary_color !*/color: $c-black;/*! end_secondary_color !*/
			cursor: pointer;
			@include desktop {
				color: $c-black;
				display: block;
				margin-bottom: 10px;
				background-color: $c-greyf5;
				text-align: left;
				padding: 10px 35px;
				&:hover {
					/*! primary_color !*/background-color: $c-c;/*! end_primary_color !*/
					/*! secondary_color !*/color: $c-black;/*! end_secondary_color !*/
				}
			}
		}
		p.show {
			display: block;
			@include desktop {
				/*! primary_color !*/background-color: $c-c;/*! end_primary_color !*/
				/*! secondary_color !*/color: $c-black;/*! end_secondary_color !*/
			}
		}
	}
	.ecode_container_content_headers_show {
		display: block;
		p {
			pointer-events: none;
			@include desktop {
				pointer-events: inherit;
			}
		}
	}
	.ecode_container_content_headers_show_all {
		p {
			display: block;
			pointer-events: inherit;
		}
		p.show {
			text-decoration: underline;
			@include desktop {
				text-decoration: none;
			}
		}
	}
	.ecode_container_content_headers_fixed {
		@include desktop {
			position: fixed;
			top: 50px;
		}
	}
	.ecode_container_content_headers_absolute {
		@include desktop {
			top: inherit;
			bottom: 90px;
		}
	}
}
