.ecode_section_118_template_183 {
	position: relative;
	display: block;
	padding: 35px 20px;
	@include tablet {
		padding: 70px 42px;
	}
	@include desktop {
		padding: 134px 35px 100px;
	}
	.ecode_width_118_183 {
		@include desktop {
			max-width: 1375px;
			margin: 0 auto;
		}
		section {
			@include desktop {
				@include flexbox;
				@include justify-content(center);
				@include align-items(flex-start);
			}
			article {
				position: relative;
				display: block;
				background-color: $c-greye8;
				padding: 45px;
				@include desktop {
					width: calc( 100% / 3 );
					padding: 70px 70px 62px;
				}
				.ecode_article_title {
					position: relative;
					font-size: 30px;
					line-height: 55px;
					text-transform: uppercase;
					margin-bottom: 20px;
					z-index: 1;
					@include desktop {
						font-size: 40px;
						line-height: 60px;
						margin-bottom: 43px;
					}
				}
				div {
					position: relative;
					padding-bottom: 15px;
					z-index: 1;
					@include desktop {
						@include flexbox;
						@include justify-content(space-between);
						@include align-items(flex-start);
						@include flex-wrap(wrap);
					}
					.ecode_div_title {
						position: relative;
						font-size: 24px;
						line-height: 40px;
						text-transform: uppercase;
						margin-bottom: 10px;
						@include desktop {
							font-size: 31px;
							line-height: 45px;
							width: calc( 100% - 75px );
						}
					}
					.ecode_div_price {
						position: relative;
						display: block;
						font-size: 19px;
						line-height: 28px;
						font-weight: bold;
						letter-spacing: 2px;
						margin-bottom: 35px;
						@include desktop {
							width: 50px;
							line-height: 45px;
							text-align: right;
						}
					}
					.ecode_div_desc {
						position: relative;
						font-size: 19px;
						line-height: 33px;
						margin-bottom: 20px;
						width: 100%;
					}
				}
			}
			.ecode_article_featured {
				background-color: transparent;
				@include desktop {
					top: -50px;
				}
				figure {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					overflow: hidden;
					z-index: 0;
					&::after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: linear-gradient( rgb(3,3,3) 15%, rgba(3,3,3,(4/10)) 100% );
						z-index: 1;
					}
					img {
						position: absolute;
						display: block;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
						min-width: 100%;
						min-height: 100%;
						object-fit: cover;
						z-index: 0;
					}
				}
				.ecode_article_title {
					color: $c-white;
				}
				div {
					.ecode_div_title {
						color: $c-white;
					}
					.ecode_div_price {
						color: $c-white;
					}
					.ecode_div_desc {
						color: $c-white;
					}
				}
			}
			.ecode_article_hide {
				opacity: 0;
				transform: translate(0,-100px);
			}
			.ecode_article_hide.ecode_article_featured {
				opacity: 0;
				transform: translate(0,100px);
			}
			.ecode_article_show {
				opacity: 1;
				transform: translate(0,0);
				@include transition((3/10)+s);
			}
		}
	}
}
