.ecode_section_33_template_140 {
	.ecode_categories {
		text-align: center;
		padding: 20px 40px;
		border-bottom: 1px solid $c-greye1;
		span {
			position: relative;
			font-size: 15px;
			line-height: 25px;
			color: $c-grey91;
		}
		.ecode_category {
			cursor: pointer;
		}
		#ecode_category_current {
			/*! primary_color !*/color: $c-c !important;/*! end_primary_color !*/
		}
	}
	.ecode_projects {
		.ecode_article {
			@include tablet {
				@include flexbox;
				@include justify-content(space-between);
				@include align-items(stretch);
				@include flex-wrap(wrap);
			}
			.ecode_article_info {
				padding: 20px;
				@include tablet {
					@include flexbox;
					@include justify-content(flex-end);
					@include flex-wrap(wrap);
					align-content: center;
					width: ( 100% / 3 );
					padding: 45px 20px;
					box-shadow: 0px 0px 0px 1px rgba(0,0,0,(5/100));
					text-align: right;
					order: 1;
				}
				.ecode_article_title {
					position: relative;
					display: inline-block;
					font-size: 15px;
					line-height: 17px;
					color: $c-black;
					text-decoration: none;
					font-weight: 500;
					margin-bottom: 10px;
					@include tablet {
						font-size: 20px;
						line-height: 22px;
					}
					@include desktop {
						font-size: 25px;
						line-height: 27px;
					}
				}
				.ecode_container_content {
					width: 100%;
					p, a, li {
						font-size: 15px;
						line-height: 25px;
						color: $c-grey80;
					}
					ul, ol {
						text-align: left;
						li {
							&::after {
								background-color: $c-grey80;
							}
						}
					}
				}
			}
			.ecode_article_figure {
				position: relative;
				height: 175px;
				overflow: hidden;
				@include tablet {
					width: ( 100% / 3 * 2 );
					min-height: 215px;
				}
				@include desktop {
					width: ( 100% / 3 * 2 );
					min-height: 285px;
				}
				@include desktop1280 {
					min-height: 390px;
				}
				@include desktop1680 {
					min-height: 535px;
				}
				img {
					width: 100%;
					height: auto;
					max-width: inherit;
					@include tablet {
						height: 100%;
						width: auto;
					}
					@include desktop {
						width: 100%;
						height: auto;
					}
				}
			}
		}
		.ecode_article_hide {
			display: none;
		}
	}
}
