.ecode_section_57_template_67 {
	position: relative;
	display: block;
	padding: 24px 30px 21px;
	@include tablet {
		padding: 46px 30px 42px;
	}
	@include desktop {
		padding: 81px 30px 50px;
	}
	.ecode_container_content {
		max-width: 810px;
		margin: 0 auto 120px;
		* {
			color: $c-grey68;
		}
		p, a, li {
			font-size: 18px;
			line-height: 32px;
			font-weight: 300;
		}
		ul, ol {
			li {
				&::after {
					background-color: $c-grey68;
				}
			}
		}
	}
}
