.ecode_section_69_template_81 {
	position: relative;
	display: block;
	background-color: $c-greyf5;
	padding: 0 25px 50px;
	z-index: 200;
	@include desktop {
		padding: 70px 25px 0;
	}
	.ecode_width_69_81 {
		@include desktop {
			max-width: 1200px;
			margin: 0 auto;
			@include flexbox;
			@include justify-content(space-between);
			@include align-items(flex-start);
		}
		.ecode_articles {
			position: relative;
			display: block;
			top: -24px;
			margin-bottom: 30px;
			@include tablet {
				@include flexbox;
				@include justify-content(center);
				@include align-items(stretch);
				@include flex-wrap(wrap);
				top: -150px;
			}
			@include desktop {
				width: calc(50% - 35px);
				margin-bottom: 0;
			}
			.ecode_article {
				position: relative;
				overflow: hidden;
				@include tablet {
					width: 50%;
				}
				figure {
					position: relative;
					display: block;
					width: 100%;
					height: 240px;
					overflow: hidden;
					@include desktop {
						height: 185px;
					}
					.back_info {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: rgba(198,38,23,0.72);
						pointer-events: none;
						opacity: 0;
						@include transition((3/10)+s);
						z-index: 10;
						.back_info_title {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							color: $c-white;
							font-size: 17px;
							line-height: 30px;
							width: 100%;
							padding: 20px;
							text-align: center;
							box-sizing: border-box;
							@include transition((3/10)+s);
							z-index: 11;
						}
					}
					img {
						position: absolute;
						display: block;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
						min-width: 100%;
						min-height: 100%;
						object-fit: cover;
					}
					&:hover {
						.back_info {
							opacity: 1;
							@include transition((3/10)+s);
						}
					}
				}
			}
			.ecode_article_hide {
				opacity: 0;
				transform: scale((1/10));
			}
			.ecode_article_show {
				opacity: 1;
				transform: scale(1);
				@include transition((3/10)+s);
			}
		}
		.ecode_container_content {
			@include desktop {
				width: calc(50% - 35px);
			}
		}
	}
}
.ecode_section_69_template_81.hover_effect {
	.ecode_article {
		.back_info {
			opacity: 0 !important;
		}
	}
}
.ecode_section_69_template_81.hover_effect_show {
	.ecode_article {
		.back_info {
			opacity: 1 !important;
			pointer-events: inherit !important;
		}
	}
}
