.ecode_section_7_template_9 {
	position: relative;
	display: block;
	padding: 50px 30px 60px;
	background-color: $c-greyf5;
	@include desktop {
		padding-bottom: 100px;
	}
	.title {
		position: relative;
		font-size: 24px;
		line-height: 30px;
		font-weight: normal;
		text-align: center;
		letter-spacing: 1px;
		padding: 0 40px 10px;
		max-width: 805px;
		margin: 0 auto 30px;
		@include tablet {
			padding-bottom: 20px;
			font-size: 31px;
			line-height: 41px;
		}
	}
	.ecode_description {
		position: relative;
		padding: 0 40px;
		text-align: center;
		max-width: 805px;
		margin: 0 auto 40px;
		@include tablet {
			margin: 0 auto 60px;
		}
		@include desktop {
			margin: 0 auto 80px;
		}
		p, a, li {
			font-size: 15px;
			line-height: 34px;
			color: $c-grey74;
			font-weight: 500;
		}
		ul, ol {
			text-align: left;
			li {
				&::after {
					background-color: $c-grey74;
				}
			}
		}
	}
	section {
		@include tablet {
			@include flexbox;
			@include justify-content(center);
			@include align-items(flex-start);
			@include flex-wrap(wrap);
			max-width: 1215px;
			margin: 0 auto;
		}
		.article {
			position: relative;
			margin-bottom: 55px;
			@include tablet {
				width: calc( 50% - 30px );
				margin: 0 15px 55px;
			}
			@include desktop {
				width: calc( 25% - 30px );
				margin: 0 15px 55px;
			}
			.ecode_article_image_div {
				position: relative;
				display: block;
				width: 110px;
				height: 110px;
				margin: 0 auto 15px;
				border-radius: 100%;
				border: 10px solid;
				@include transition((3/10)+s);
				.ecode_article_image {
					position: relative;
					@include flexbox;
					@include justify-content(center);
					@include align-items(center);
					width: 90px;
					height: 90px;
					svg, img {
						max-width: 50px;
						max-height: 50px;
					}
				}
			}
			.ecode_article_image_edit {
				.ecode_article_image {
					pointer-events: none;
				}
			}
			.article_title {
				position: relative;
				font-size: 16px;
				line-height: 21px;
				text-align: center;
				font-weight: 400;
				padding-bottom: 15px;
				margin-bottom: 20px;
				letter-spacing: 1px;
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translate(-50%, 0);
					width: 20px;
					height: 2px;
					background-color: $c-grey8f;
				}
			}
			.ecode_container_content {
				position: relative;
				text-align: center;
				p, a, li {
					color: $c-grey74;
					font-size: 15px;
					line-height: 34px;
				}
				ul, ol {
					text-align: left;
					li {
						&::after {
							background-color: $c-grey74;
						}
					}
				}
			}
		}
		.article_hide {
			opacity: 0;
		}
		.article_show {
			opacity: 1;
			@include transition((3/10)+s);
		}
	}
}
