.ecode_section_53_template_63 {
	position: relative;
	padding: 54px 30px 16px;
	border-bottom: 4px solid;
	/*! primary_color !*/border-bottom-color: $c-c;/*! end_primary_color !*/
	text-align: right;
	overflow: hidden;
	@include desktop {
		padding: 111px 30px 54px;
	}
	.ecode_section_53_template_63_width {
		position: relative;
		display: block;
		@include desktop {
			max-width: 1210px;
			margin: 0 auto;
		}
	}
	.ecode_back {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: auto;
		z-index: -1;
	}
	.ecode_subtitle {
		position: relative;
		font-size: 18px;
		line-height: 21px;
		/*! primary_color !*/color: $c-c;/*! end_primary_color !*/
		text-transform: uppercase;
		margin: 0 0 20px;
		font-weight: bold;
		@include desktop {
			margin: 0;
		}
	}
	.ecode_title {
		position: relative;
		font-size: 50px;
		line-height: 70px;
		color: $c-greyb1;
		margin: 0 0 40px;
		@include tablet {
			font-size: 70px;
			line-height: 95px;
			margin: 0 0 100px;
		}
	}
	section {
		@include desktop {
			@include flexbox;
			@include justify-content(center);
			@include align-items(stretch);
			@include flex-wrap(wrap);
			max-width: 1150px;
			margin: 0 auto;
		}
		.ecode_article {
			position: relative;
			padding: 60px 40px;
			border: 1px solid $c-greye1;
			margin-bottom: 20px;
			@include desktop {
				width: calc( ( 100% / 3 ) - 44px );
				margin: 0 22px 40px;
			}
			.ecode_article_image {
				position: relative;
				text-align: center;
				margin-bottom: 60px;
				img {
					max-width: 150px;
					max-height: 170px;
				}
			}
			.ecode_container_content {
				text-align: center;
				p, a, li {
					font-size: 18px;
					line-height: 32px;
					font-weight: 300;
					color: $c-grey68;
				}
				ul, ol {
					text-align: left;
					li {
						&::after {
							background-color: $c-grey68;
						}
					}
				}
			}
		}
		.ecode_article_hide {
			opacity: 0;
			transform: translate(-100px,0);
		}
		.ecode_article_show {
			opacity: 1;
			transform: translate(0,0);
			@include transition((3/10)+s);
		}
	}
}
