.ecode_section_37_template_47 {
	position: relative;
	display: block;
	width: 85%;
	margin: 0 auto;
	padding: 50px 0;
	@include tablet {
		width: 100%;
		max-width: 1310px;
		padding: 50px;
	}
	.ecode_title {
		position: relative;
		font-size: 28px;
		line-height: 31px;
		font-weight: 400;
		letter-spacing: 1px;
		text-transform: uppercase;
		padding-bottom: 21px;
		margin-bottom: 21px;
		width: 100%;
	}
	.ecode_columns {
		position: relative;
		display: block;
		padding: 14px 0 30px;
		box-sizing: border-box;
		@include tablet {
			@include flexbox;
			@include justify-content(space-between);
			@include align-items(flex-start);
			padding: 14px 0 60px;
		}
	}
	.ecode_columns_2 {
		.ecode_column {
			@include tablet {
				width: calc( 50% - 20px );
			}
		}
	}
	.ecode_columns_3 {
		.ecode_column {
			@include tablet {
				width: calc( ( 100% /3 ) - 10px );
			}
			@include desktop {
				width: calc( ( 100% /3 ) - 20px );
			}
		}
	}
	.ecode_columns_4 {
		.ecode_column {
			@include tablet {
				width: calc( 25% - 10px );
			}
			@include desktop {
				width: calc( 25% - 20px );
			}
		}
	}
	.ecode_container_faq {
		padding: 0 0 20px;
		@include tablet {
			padding: 0 0 50px;
		}
		.ecode_faq {
			position: relative;
			display: block;
			.ecode_question {
				position: relative;
				padding: 9px 35px;
				border: 1px solid $c-greye1;
				border-bottom: none;
				font-size: 15px;
				line-height: 25px;
				color: $c-grey9c;
				-webkit-font-smoothing: auto;
				cursor: pointer;
				span {
					pointer-events: none;
					&::after {
						content: '';
						position: absolute;
						display: block;
						width: 15px;
						height: 15px;
						border: 1px solid $c-greye1;
						top: 12px;
						left: 10px;
						pointer-events: none;
					}
					&::before {
						content: '+';
						position: absolute;
						color: $c-greye1;
						font-size: 25px;
						line-height: 15px;
						pointer-events: none;
						top: 11px;
						left: 11px;
					}
				}
			}
			.ecode_answer {
				display: none;
				padding: 12px 30px;
				background-color: $c-greyf8;
				border: 1px solid $c-greye1;
			}
			&:last-child {
				.ecode_question {
					border-bottom: 1px solid $c-greye1;
				}
			}
		}
		.ecode_faq_open {
			margin-bottom: 5px;
			.ecode_answer {
				display: block;
			}
		}
	}
	.ecode_footer {
		background-color: $c-greyfc;
		border: 1px solid $c-greye1;
		padding: 20px;
		margin: 20px 0;
		* {
			color: $c-grey9c;
			-webkit-font-smoothing: auto;
		}
		ul, ol {
			li {
				&::after {
					background-color: $c-grey9c;
				}
			}
		}
	}
}
