.ecode_section_107_template_169 {
	position: relative;
	display: block;
	.ecode_image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 0;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient( rgb(3,3,3) 15%, rgba(3,3,3,(4/10)) 100% );
			pointer-events: none;
			z-index: 1;
		}
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			min-width: 100%;
			min-height: 100%;
			object-fit: cover;
			pointer-events: none;
			z-index: 0;
		}
	}
	.ecode_width_107_169 {
		position: relative;
		padding: 30px 42px;
		z-index: 1;
		@include tablet {
			@include flexbox;
			@include justify-content(space-between);
			@include align-items(center);
			padding: 50px 75px;
		}
		@include desktop {
			padding: 200px 140px 100px;
			max-width: 1655px;
			margin: 0 auto;
		}
		.ecode_titles {
			@include tablet {
				margin-right: 50px;
			}
			.ecode_subtitle {
				position: relative;
				color: $c-white;
				font-size: 19px;
				line-height: 28px;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: 20px;
				@include tablet {
					margin-bottom: 31px;
				}
				@include desktop {
					font-size: 14px;
					line-height: 21px;
				}
			}
			.ecode_title {
				position: relative;
				font-size: 45px;
				line-height: 60px;
				letter-spacing: 1px;
				color: $c-white;
				text-transform: uppercase;
				margin-bottom: 36px;
				@include tablet {
					margin-bottom: 0;
				}
				@include desktop {
					font-size: 70px;
					line-height: 84px;
				}
			}
		}
		.ecode_button {
			position: relative;
			display: inline-block;
			padding: 15px 54px 15px 29px;
			font-size: 14px;
			line-height: 14px;
			letter-spacing: 1px;
			color: $c-white;
			text-decoration: none;
			text-transform: uppercase;
			border: 1px solid $c-greyd6;
			white-space: nowrap;
			i {
				position: absolute;
				display: inline-block;
				top: 50%;
				right: 29px;
				transform: translate(0,-50%);
				width: 14px;
				height: 14px;
				margin-left: 10px;
				svg {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 14px;
					height: 14px;
				}
			}
		}
	}
	.ecode_width_107_169_hide {
		opacity: 0;
	}
	.ecode_width_107_169_show {
		opacity: 1;
		@include transition((3/10)+s);
	}
}
