.ecode_section_86_template_162 {
	position: relative;
	display: block;
	.ecode_article {
		position: relative;
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(stretch);
		@include flex-wrap(wrap);
		.ecode_article_picture {
			position: relative;
			width: 100%;
			height: 400px;
			overflow: hidden;
			@include tablet {
				height: 500px;
			}
			@include desktop {
				width: 50%;
				min-height: 600px;
			}
			img {
				position: absolute;
				display: block;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				min-width: 100%;
				min-height: 100%;
				object-fit: cover;
			}
		}
		.ecode_article_info {
			position: relative;
			padding: 60px 10% 85px;
			width: 100%;
			@include tablet {
				@include flexbox;
				@include justify-content(flex-start);
				align-content: center;
				@include flex-wrap(wrap);
				padding: 75px 11% 90px 10%;
			}
			@include desktop {
				width: 50%;
				padding: 100px 100px 105px 100px;
			}
			.ecode_article_title {
				position: relative;
				font-size: 35px;
				line-height: 39px;
				font-weight: 500;
				margin-bottom: 21px;
				font-family: 'secondary';
				span {
					font-weight: 700;
				}
				@include tablet {
					font-size: 50px;
					line-height: 60px;
				}
			}
			.ecode_container_content {
				margin-bottom: 40px;
				p, a, li {
					font-size: 15px;
					line-height: 26px;
					color: $c-grey6e;
				}
				ul, ol {
					li {
						&::after {
							background-color: $c-grey6e;
						}
					}
				}
			}
			.ecode_button {
				position: relative;
				display: inline-block;
				font-size: 14px;
				line-height: 14px;
				font-weight: 500;
				color: $c-white;
				/*! primary_color !*/background-color: $c-c;/*! end_primary_color !*/
				padding: 16px 60px 16px 23px;
				text-decoration: none;
				border-radius: 5px;
				-webkit-font-smoothing: auto;
				i {
					position: absolute;
					top: 0;
					right: 0;
					width: 39px;
					width: 39px;
					height: 100%;
					background-color: $c-c-h;
					border-radius: 0 5px 5px 0;
					z-index: 1;
					svg {
						position: absolute;
						top: 50%;
						right: 16px;
						transform: translate(0,-50%);
						height: auto;
						width: 7px;
						z-index: 4;
						* {
							fill: $c-white;
						}
					}
				}
				&:hover {
					background-color: $c-c-h;
				}
			}
		}
	}
	.ecode_article_center {
		.ecode_article_info {
			text-align: center;
			@include tablet {
				@include justify-content(center);
			}
		}
	}
	.ecode_article_right {
		.ecode_article_info {
			text-align: right;
			@include tablet {
				@include justify-content(flex-end);
			}
		}
	}
	.ecode_article_hide {
		opacity: 0;
	}
	.ecode_article_show {
		opacity: 1;
		@include transition((3/10)+s);
	}
}
