.ecode_section_113_template_178 {
	position: relative;
	display: block;
	padding: 35px;
	@include tablet {
		padding: 70px;
	}
	@include desktop {
		padding: 100px 35px;
	}
	.ecode_width_113_178 {
		@include desktop {
			@include flexbox;
			@include justify-content(space-between);
			@include align-items(flex-start);
			@include flex-direction(row-reverse);
			max-width: 1375px;
			margin: 0 auto;
		}
		.ecode_info {
			@include desktop {
				padding-top: 41px;
			}
			.ecode_container_content {
				padding-bottom: 20px;
				@include desktop {
					padding-bottom: 50px;
				}
				p, a, li {
					font-size: 19px;
					line-height: 34px;
					color: $c-black;
				}
				ul, ol {
					li {
						&::after {
							background-color: $c-black;
							top: 15px;
							height: 2px;
						}
					}
				}
			}
			.ecode_title {
				position: relative;
				font-size: 45px;
				line-height: 60px;
				text-transform: uppercase;
				color: $c-black00;
				margin-bottom: 20px;
				font-family: 'secondary';
				@include desktop {
					font-size: 70px;
					line-height: 84px;
					margin-bottom: 40px;
				}
			}
			.ecode_subtitle {
				position: relative;
				font-size: 19px;
				line-height: 34px;
				margin-bottom: 30px;
				@include desktop {
					margin-bottom: 40px;
				}
			}
			figure {
				position: relative;
			}
		}
		.ecode_image_link {
			position: relative;
			display: block;
			margin-bottom: 25px;
			@include tablet {
				width: 550px;
				height: 700px;
				overflow: hidden;
				margin: 0 auto;
			}
			@include desktop {
				min-width: 550px;
				margin-left: 120px;
			}
			.ecode_figure {
				position: relative;
				display: block;
				height: 460px;
				overflow: hidden;
				@include tablet {
					height: 700px;
				}
				&::after {
					content: '';
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0,0,0,(3/10));
					z-index: 5;
				}
				img {
					position: absolute;
					display: block;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					min-width: 100%;
					min-height: 100%;
					object-fit: cover;
					z-index: 0;
				}
			}
			.ecode_link {
				position: absolute;
				display: block;
				bottom: 40px;
				font-size: 19px;
				line-height: 28px;
				text-transform: uppercase;
				text-align: center;
				color: $c-white;
				width: 100%;
				z-index: 10;
				a {
					display: block;
					color: inherit;
					text-decoration: none;
				}
			}
		}
		.ecode_element_hide {
			opacity: 0;
		}
		.ecode_element_show {
			opacity: 1;
			@include transition((3/10)+s);
		}
	}
}
