$c-black: #333333;
$c-black24: #242424;
$c-black3a: #3a3a3a;
$c-white: #ffffff;
$c-c: #43d5cb;
$c-c-h: #37c7be;
$c-c2: #4e6dcc;
$c-greye1: #e1e1e1;
$c-greye4: #e4e4e4;
$c-grey6e: #6e6e6e;
$c-greyfa: #fafafa;
$c-greyca: #cacaca;
$c-greyb6: #b6b6b6;
$c-greyb9: #b9b9b9;
$c-grey97: #979797;
$c-greyda: #dadada;
$c-greyac: #acacac;
$c-greyf4: #f4f4f4;
$c-greyaf: #afafaf;
$c-red: #ff0000;
$c-green: #208320;
