.ecode_section_138_template_207 {
	position: relative;
	display: block;
	.ecode_width_138_207 {
		position: relative;
		display: block;
		max-width: 1180px;
		margin: 0 auto;
		padding: 110px 15px 70px;
		.ecode_title {
			position: relative;
			font-size: 36px;
			line-height: 40px;
			text-align: center;
			font-weight: normal;
			margin-bottom: 15px;
		}
		.ecode_subtitle {
			position: relative;
			font-size: 16px;
			line-height: 22px;
			text-align: center;
			color: $c-grey99;
			font-weight: normal;
			@include tablet {
				font-size: 21px;
				line-height: 29px;
			}
		}
		.ecode_articles {
			position: relative;
			display: block;
			padding-top: 45px;
			@include tablet {
				@include flexbox;
				@include justify-content(center);
				@include align-items(flex-start);
				@include flex-wrap(wrap);
			}
			.ecode_article {
				position: relative;
				padding-bottom: 20px;
				@include tablet {
					width: calc( 100% / 3 );
					padding: 0 15px 20px;
				}
				.ecode_article_image {
					position: relative;
					@include flexbox;
					@include justify-content(center);
					@include align-items(center);
					width: 56px;
					height: 56px;
					margin: 0 auto 10px;
					img,svg {
						max-width: 56px;
						max-height: 56px;
					}
				}
				.ecode_article_title {
					position: relative;
					color: $c-black26;
					font-size: 18px;
					line-height: 19px;
					margin: 0 0 10px;
					text-align: center;
					font-weight: normal;
				}
				.ecode_article_subtitle {
					position: relative;
					font-size: 14px;
					line-height: 23px;
					color: $c-grey66;
					margin-bottom: 10px;
					text-align: center;
				}
			}
		}
	}
}
