.ecode_section_17_template_22 {
	position: relative;
	display: block;
	padding: 34px 50px 25px;
	@include tablet {
		padding: 57px 90px 35px;
	}
	@include desktop {
		padding: 90px 90px 50px;
	}
	.ecode_article {
		position: relative;
		max-width: 820px;
		margin: 0 auto 65px;
		background-color: $c-white;
		.ecode_image {
			position: relative;
			margin-bottom: 30px;
			overflow: hidden;
			img {
				width: 100%;
				height: auto;
			}
		}
		.ecode_title {
			position: relative;
			font-size: 21px;
			line-height: 31px;
			font-weight: 400;
			letter-spacing: 1px;
			margin-bottom: 25px;
			text-decoration: none;
			color: $c-black;
			@include tablet {
				font-size: 24px;
				line-height: 36px;
			}
		}
		.ecode_excerpt {
			position: relative;
			font-size: 15px;
			line-height: 34px;
			font-weight: 500;
			margin-bottom: 40px;
			color: $c-grey74;
		}
		.ecode_author_categories_read_more {
			padding: 5px 0;
			border-top: 1px solid $c-greye8;
			border-bottom: 1px solid $c-greye8;
			@include tablet {
				@include flexbox;
				@include justify-content(space-between);
				@include align-items(center);
			}
			* {
				position: relative;
				font-size: 12px;
				line-height: 27px;
			}
			a {
				color: $c-black;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.ecode_container_pagination {
		position: relative;
		@include flexbox;
		@include justify-content(center);
		@include align-items(center);
		width: 100%;
		max-width: 770px;
		margin: 0 auto 80px;
		a, span {
			display: block;
			width: 45px;
			height: 45px;
			border: 2px solid $c-greydd;
			font-size: 16px;
			line-height: 41px;
			text-decoration: none;
			margin: 0 6px;
			text-align: center;
			border-radius: 2px;
			color: $c-black;
		}
		a.page-numbers {
			&:hover {
				border: 2px solid $c-c;
				background-color: $c-c;
				// color: $c-white;
			}
		}
		.current {
			border: 2px solid $c-c;
			background-color: $c-c;
			// color: $c-white;
		}
		a.prev, a.next {
			width: auto;
			border: none;
			font-size: 15px;
			line-height: 28px;
			color: $c-black55;
			height: 45px;
			padding: 5px 10px;
			border: 2px solid transparent;
			// font-family: $font-300;
			// &:hover {
			// 	border: none;
			// 	background-color: transparent;
			// 	color: $c-c-h;
			// }
		}
	}
}
