.ecode_section_2_template_4 {
	position: relative;
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);
	min-height: 250px;
	width: 100%;
	background-color: $c-black;
	padding: 100px 30px 30px;
	@include tablet {
		padding: 200px 30px 100px;
	}
	.content_width {
		position: relative;
		display: block;
		text-align: center;
		max-width: 1000px;
		z-index: 5;
	}
	.title {
		position: relative;
		font-size: 33px;
		line-height: 47px;
		letter-spacing: 2px;
		color: $c-white;
		font-family: 'secondary';
		@include tablet {
			font-size: 57px;
			line-height: 80px;
		}
		span {
			color: inherit;
		}
	}
}
