.ecode_section_72_template_84 {
	position: relative;
	display: block;
	background-color: $c-greyf5;
	padding: 60px 25px 30px;
	@include tablet {
		padding: 95px 25px 75px;
	}
	.ecode_width_72_84 {
		@include desktop {
			max-width: 1200px;
			margin: 0 auto;
		}
		.ecode_title {
			position: relative;
			font-size: 17px;
			line-height: 27px;
			font-weight: 600;
			letter-spacing: 2px;
			text-transform: uppercase;
			text-align: center;
			max-width: 520px;
			margin: 0 auto 16px;
			@include desktop {
				font-size: 21px;
				line-height: 33px;
				margin: 0 auto 20px;
			}
		}
		.ecode_subtitle {
			position: relative;
			text-align: center;
			max-width: 520px;
			margin: 0 auto 60px;
			p, a, li {
				font-size: 17px;
				line-height: 30px;
				letter-spacing: 0.2px;
				color: $c-grey67;
			}
			ul, ol {
				text-align: left;
				li {
					&::after {
						background-color: $c-grey67;
					}
				}
			}
		}
		.ecode_reviews {
			position: relative;
			@include desktop {
				@include flexbox;
				@include justify-content(center);
				@include align-items(flex-start);
			}
			.ecode_reviews_slider {
				position: relative;
				@include flexbox;
				@include justify-content(flex-start);
				@include align-items(stretch);
				padding: 50px 25px 80px;
				background-color: $c-white;
				box-shadow: 0px 0px 20px 0px rgba(0,0,0,(5/100));
				overflow: hidden;
				margin-bottom: 35px;
				@include desktop {
					width: calc( 50% - 23px );
					margin-right: 23px;
				}
				.ecode_review {
					position: relative;
					width: 100%;
					margin-right: 25px;
					padding-bottom: 10px;
					.ecode_review_figure {
						position: relative;
						width: 100px;
						height: 100px;
						margin: 0 auto 25px;
						border-radius: 100%;
						overflow: hidden;
					}
					.ecode_container_content {
						position: relative;
						padding: 25px;
						text-align: center;
						span {
							position: relative;
							font-size: 60px;
							line-height: 52px;
							height: 52px;
							/*! primary_color !*/color: $c-c;/*! end_primary_color !*/
							margin-right: 10px;
							top: 26px;
							font-style: normal;
						}
						p, a, li {
							display: inline;
							font-size: 17px;
							line-height: 31px;
							color: $c-grey67;
							font-style: italic;
						}
						ul, ol {
							text-align: left;
							li {
								&::after {
									background-color: $c-grey67;
								}
							}
						}
					}
					.ecode_review_author {
						position: relative;
						text-align: center;
						font-size: 18px;
						line-height: 33px;
						span {
							font-weight: bold;
						}
					}
				}
				.flickity-page-dots {
					left: 0;
					bottom: 30px;
					.dot {
						width: 12px;
						height: 12px;
						border: 1px solid $c-black;
						background-color: transparent;
					}
					.is-selected {
						background-color: $c-black;
					}
				}
			}
			.ecode_reviews_slider.flickity-enabled {
				display: block;
			}
			.ecode_reviews_features {
				position: relative;
				@include desktop {
					width: calc( 50% - 23px );
					margin-left: 23px;
				}
				.ecode_review_feature {
					position: relative;
					padding: 35px 35px 35px 155px;
					background-color: $c-white;
					box-shadow: 0px 0px 20px 0px rgba(0,0,0,(5/100));
					margin-bottom: 40px;
					.ecode_review_feature_figure {
						position: absolute;
						@include flexbox;
						@include justify-content(center);
						@include align-items(center);
						top: 35px;
						left: 35px;
						width: 100px;
						height: 100px;
						overflow: hidden;
						img {
							max-width: 100px;
							max-height: 100px;
						}
					}
					.ecode_review_feature_title {
						position: relative;
						font-size: 22px;
						line-height: 31px;
						margin-bottom: 15px;
					}
					.ecode_review_feature_text {
						position: relative;
						@include flexbox;
						@include justify-content(flex-start);
						@include align-items(flex-start);
						font-size: 17px;
						line-height: 31px;
						color: $c-grey67;
						font-style: italic;
						span {
							position: relative;
							font-size: 60px;
							line-height: 52px;
							height: 52px;
							/*! primary_color !*/color: $c-c;/*! end_primary_color !*/
							margin-right: 10px;
							top: 4px;
							font-style: normal;
						}
					}
				}
			}
			.ecode_review_hide.ecode_reviews_slider {
				transform: translate(-100px, 0);
			}
			.ecode_review_hide {
				opacity: 0;
			}
			.ecode_review_show {
				transform: translate(0, 0);
				opacity: 1;
				@include transition((3/10)+s);
			}
		}
	}
}
