.ecode_section_88_template_104 {
	position: relative;
	display: block;
	padding: 100px 20px 65px;
	@include desktop {
		padding: 100px 40px 60px;
	}
	.ecode_width_88_104 {
		position: relative;
		display: block;
		max-width: 300px;
		width: 100%;
		margin: 0 auto;
		@include tablet {
			max-width: 600px;
		}
		@include desktop {
			max-width: 1200px;
			@include flexbox;
			@include justify-content(space-between);
			@include align-items(center);
			@include flex-wrap(wrap);
		}
		.ecode_info {
			position: relative;
			display: block;
			padding-bottom: 100px;
			@include tablet {
				padding-bottom: 50px;
			}
			@include desktop {
				width: calc( 50% - 30px);
				padding-bottom: 0;
			}
			.ecode_title {
				position: relative;
				font-size: 35px;
				line-height: 39px;
				font-weight: 500;
				margin-bottom: 21px;
				z-index: 10;
				span {
					font-weight: 700;
					color: inherit;
				}
				@include tablet {
					font-size: 50px;
					line-height: 60px;
				}
			}
			.ecode_container_content {
				position: relative;
				margin-bottom: 32px;
				z-index: 10;
				p, a, li {
					font-size: 15px;
					line-height: 26px;
					color: $c-grey6e;
				}
				ul, ol {
					li {
						&::after {
							background-color: $c-grey6e;
						}
					}
				}
			}
			.ecode_name {
				position: relative;
				font-size: 17px;
				line-height: 28px;
				font-weight: 500;
				-webkit-font-smoothing: auto;
				margin-bottom: 12px;
				z-index: 10;
			}
			.ecode_professional_position {
				position: relative;
				font-size: 12px;
				line-height: 20px;
				font-weight: 500;
				-webkit-font-smoothing: auto;
				color: $c-c2;
				z-index: 10;
			}
			.ecode_signature {
				position: absolute;
				bottom: -50px;
				left: 0;
				z-index: 5;
				@include tablet {
					left: 60px;
				}
				@include desktop {
					bottom: -50px;
				}
			}
		}
		.ecode_image {
			position: relative;
			display: block;
			height: 270px;
			overflow: hidden;
			margin-bottom: 50px;
			@include tablet {
				height: 550px;
			}
			@include desktop {
				width: calc( 50% - 30px);
			}
			img {
				position: absolute;
				display: block;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				min-width: 100%;
				min-height: 100%;
				object-fit: cover;
			}
		}
	}
}
