.ecode_section_26_template_31 {
	position: relative;
	padding: 70px 0;
	@include tablet {
		padding: 70px 0 20px;
	}
	.ecode_image_back {
		position: absolute;
		@include flexbox;
		@include justify-content(center);
		@include align-items(center);
		background-color: $c-black;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 0;
		img {
			max-width: inherit;
			width: 100%;
			height: auto;
		}
	}
	.ecode_width {
		position: relative;
		width: 85%;
		margin: 0 auto;
		@include tablet {
			width: 100%;
			padding: 0 30px;
			max-width: 1310px;
		}
		.ecode_title {
			position: relative;
			font-size: 28px;
			line-height: 31px;
			font-weight: 400;
			padding-bottom: 17px;
			margin-bottom: 50px;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: $c-white;
		}
		.ecode_section {
			@include tablet {
				@include flexbox;
				@include justify-content(center);
				@include align-items(flex-start);
				@include flex-wrap(wrap);
			}
			.ecode_article {
				position: relative;
				padding-left: 96px;
				margin-bottom: 20px;
				@include tablet {
					padding-left: 0;
					width: calc((100% / 3) - 40px);
					margin: 0 20px 50px;
				}
				@include desktop {
					padding-left: 96px;
				}
				.ecode_article_image {
					position: absolute;
					@include flexbox;
					@include justify-content(center);
					@include align-items(center);
					top: 2px;
					left: 0;
					width: 74px;
					height: 74px;
					border: 1px solid $c-border;
					border-radius: 100%;
					@include tablet {
						position: relative;
						top: inherit;
						left: inherit;
						margin-bottom: 15px;
					}
					@include desktop {
						position: absolute;
						top: 2px;
						left: 0;
						margin: 0;
					}
					img, svg {
						max-width: 42px;
						max-height: 42px;
					}
				}
				.ecode_article_title {
					font-size: 19px;
					line-height: 21px;
					text-transform: uppercase;
					font-weight: 600;
					color: $c-white;
					padding-top: 2px;
					margin-bottom: 13px;
				}
				.ecode_container_content {
					p, a, li {
						font-size: 15px;
						line-height: 25px;
						color: $c-white;
						-webkit-font-smoothing: auto;
					}
					ul, ol {
						text-align: left;
						li {
							&::after {
								background-color: $c-white;
							}
						}
					}
				}
			}
			.ecode_article_hide {
				opacity: 0;
			}
			.ecode_article_show {
				opacity: 1;
				@include transition((3/10)+s);
			}
		}
	}
}
