.ecode_section_124_template_189 {
	position: relative;
	display: block;
	padding: 35px 35px 0;
	background-color: $c-black00;
	@include tablet {
		padding: 70px 70px 10px;
	}
	@include desktop {
		padding: 132px 70px 70px;
	}
	.ecode_width_124_189 {
		position: relative;
		@include flexbox;
		@include justify-content(center);
		@include align-items(flex-start);
		@include flex-wrap(wrap);
		max-width: 1375px;
		margin: 0 auto;
		.ecode_content {
			padding-bottom: 60px;
			@include tablet {
				width: calc( 50% - 40px );
				margin-right: 80px;
				&:nth-child(2n) {
					margin-right: 0;
				}
			}
			@include desktop {
				width: calc( 50% - 60px );
				margin-right: 120px;
				&:nth-child(2n) {
					margin-right: 0;
				}
			}
			.ecode_title {
				position: relative;
				font-size: 19px;
				line-height: 28px;
				color: $c-white;
				text-transform: uppercase;
				margin-bottom: 20px;
			}
			.ecode_container_content {
				p, a, li {
					font-size: 19px;
					line-height: 34px;
					color: $c-white;
				}
				ul, ol {
					li {
						&::after {
							background-color: $c-white;
						}
					}
				}
			}
		}
	}
}
