.form_global {
	table {
		tbody {
			tr {
				position: relative;
				display: block;
				background-color: $c-white;
				border-radius: 5px;
				margin-bottom: 10px;
				padding: 20px;
				@include desktop {
					@include flexbox;
					@include justify-content(space-between);
					@include align-items(flex-start);
				}
				th {
					position: relative;
					padding: 0 0 20px 60px;
					@include desktop {
						width: 250px;
						min-width: 250px;
						padding: 0 0 0 60px;
					}
					@include desktop1280 {
						width: 350px;
						min-width: 350px;
					}
					i {
						position: absolute;
						@include flexbox;
						@include justify-content(center);
						@include align-items(center);
						top: 0;
						left: 0;
						width: 40px;
						height: 40px;
						svg {
							max-width: 40px;
							max-height: 40px;
						}
					}
					h2 {
						font-size: 18px;
						line-height: 21px;
						color: $c-black;
						margin-bottom: 6px;
						@include desktop {
							font-size: 20px;
							line-height: 24px;
						}
					}
					p {
						font-size: 14px;
						line-height: 17px;
						letter-spacing: 0.7px;
						color: $c-black99;
						font-weight: 400;
					}
				}
				td {
					margin: 0;
					padding: 0;
					.container_file {
						position: relative;
						min-height: 47px;
						@include desktop {
							@include flexbox;
							@include justify-content(flex-end);
							@include align-items(flex-start);
						}
						figure {
							position: relative;
							@include flexbox;
							@include justify-content(center);
							@include align-items(center);
							width: fit-content;
							border-radius: 5px;
							padding: 16px 32px 30px;
							border: 1px solid $c-black99;
							margin: 0 auto 7px;
							@include desktop {
								padding: 12px 60px;
								margin: 0;
								min-height: 100%;
							}
						}
						figure.light {
							background-color: $c-black99;
						}
						.name_size {
							font-size: 12px;
							line-height: 14px;
							letter-spacing: 0.6px;
							color: $c-black;
							margin: 0 0 37px;
							@include desktop {
								font-size: 14px;
								line-height: 17px;
								letter-spacing: 0.7px;
								width: 142px;
								min-width: 142px;
								padding: 23px 0 61px;
								margin: 0 0 0 40px;
							}
							span {
								padding-right: 6px;
								@include desktop {
									padding: 0;
									display: block;
									word-break: break-all;
								}
								&:last-child {
									padding: 0;
								}
							}
						}
						.ecode_button_builder {
							width: 100%;
							@include desktop {
								position: absolute;
								bottom: 0;
								right: 0;
								width: auto;
							}
						}
					}
					.container_slim_select {
						@include desktop {
							padding-top: 4px;
						}
						.slim_select {
							width: 100%;
							height: 40px;
							cursor: pointer;
							@include desktop {
								width: 308px;
							}
							.ss-single-selected {
								height: 40px;
								padding: 12px 16px;
								.placeholder {
									font-size: 14px;
									line-height: 17px;
									letter-spacing: 0.7px;
									color: $c-black99;
								}
								.ss-arrow {
									span {
										border-color: $c-black99;
									}
								}
							}
							.ss-content {
								.ss-list {
									.ss-option {
										.font {
											position: relative;
										    display: block;
										    width: 250px;
										    height: 39px;
											background-repeat: no-repeat;
											background-image: url( '../img/typography.png' );
											p {
												font-size: 0;
											}
										}
										.rubik {
											background-position: -10px -59px;
										}
										.lato {
											background-position: -10px -9px;
										}
										.poppins {
											background-position: -10px -105px;
										}
									}
								}
							}
						}
					}
					.container_colorpicker {
						.colorpicker {
							border-radius: 5px;
							width: 100%;
							height: 40px;
							border: 1px solid $c-black99;
							cursor: pointer;
							@include desktop {
								width: 308px;
							}
							.picker_wrapper {
								left: 15px !important;
							}
						}
					}
				}
			}
			tr.hide {
				display: none;
			}
		}
	}
}
