html.wp-toolbar {
	padding: 0;
}
#adminmenumain {
	position: fixed;
	top: 50px;
	left: -100%;
	width: 100%;
	height: calc( 100vh - 50px);
	background-color: $c-white;
	// overflow: hidden;
	// overflow-y: scroll;
	z-index: 100000;
	@include desktop {
		position: fixed;
		top: 0;
		left: 0;
		width: 250px;
		height: 100vh;
		background-color: $c-white;
	}
	#adminmenuback {
		display: none;
	}
	#adminmenuwrap {
		width: inherit;
		float: none;
		background-color: inherit;
		padding-top: 57px;
		height: 100%;
		overflow: hidden;
		overflow-y: scroll;
		padding-bottom: 50px;
		@include desktop {
			padding-top: 155px;
			&::after {
				content: 'ecoded PRO';
				position: absolute;
				top: 65px;
				left: 30px;
				font-size: 14px;
				line-height: 14px;
			}
			&::before {
				content: '';
				position: absolute;
				top: 12px;
				left: 30px;
				width: 192px;
				height: 30px;
				background-image: url( '../img/icons/icon_ecoded.svg' );
				background-position: center left;
				background-repeat: no-repeat;
				background-size: auto 30px;
			}
		}
		ul#adminmenu {
			position: relative;
			clear: none;
			margin: 0;
			width: inherit;
			background-color: inherit;
			top: inherit;
			&::after {
				content: 'Ecoded Builder';
				position: absolute;
				top: -39px;
				left: 20px;
				font-size: 14px;
				line-height: 17px;
				letter-spacing: 0.7px;
				text-transform: uppercase;
				color: $c-black99;
				@include desktop {
					left: 30px;
				}
			}
			li {
				position: relative;
				a {
					position: relative;
					background-color: inherit;
					.wp-menu-arrow {

					}
					.wp-menu-image {
						position: absolute;
						@include flexbox;
						@include justify-content(center);
						@include align-items(center);
						top: 50%;
						left: 30px;
						transform: translate(0,-50%);
						float: none;
						width: 24px;
						height: 24px;
						&::before {
							padding: 0;
							color: $c-black;
						}
						img {
							padding: 0;
							opacity: 1;
						}
					}
					.wp-menu-name {
						font-size: 14px;
						line-height: 14px;
						padding: 15px 10px 15px 74px;
					}
				}
				a.wp-has-current-submenu, a.current {
					background-color: rgba(80,80,80,(5/100));
					&:after {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						width: 6px;
						height: 100%;
						border: none;
						background-color: $c-c;
						margin: 0;
					}
				}
				.wp-submenu {
					display: none;
					position: relative;
					top: inherit;
					left: inherit;
					width: 100%;
					background-color: rgba(245,245,245,1);
					padding: 0;
					@include desktop {
						position: fixed;
						top: 0;
						left: 250px;
						width: 250px;
					}
					li {
						color: $c-black;
						a {
							color: inherit;
							background-color: inherit;
							padding: 15px;
							box-sizing: border-box;
							font-size: 14px;
							line-height: 14px;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
				&:hover {
					background-color: transparent;
					&::after {
						display: none;
					}
					a {
						background-color: rgba(80,80,80,(5/100));
						&:after {
							content: '';
							position: absolute;
							top: 0;
							right: 0;
							width: 6px;
							height: 100%;
							border: none;
							background-color: $c-c;
							margin: 0;
						}
					}
					.wp-submenu {
						display: block;
						@include desktop {
							margin-top: 0 !important;
						}
					}
				}
			}
			li#collapse-menu, li.wp-menu-separator {
				display: none !important;
			}
		}
	}
}
#wpcontent {
	position: relative;
	padding: 80px 20px 30px !important;
	@include desktop {
		margin: 0 0 0 auto;
		padding: 110px 30px 51px 60px !important;
		width: calc( 100% - 250px );
	}
	#wpadminbar {
		position: fixed;
		top: 0;
		right: 0;
		left: inherit;
		width: 100%;
		height: 50px;
		background-color: $c-greyfa;
		border-bottom: 1px solid $c-greyea;
		@include desktop {
			width: calc( 100% - 250px );
			height: 60px;
			padding: 13px 30px 13px 60px;
		}
		ul.ab-top-menu {
			position: relative;
			@include flexbox;
			@include justify-content(flex-start);
			@include align-items(center);
			width: 100%;
			padding: 0 20px;
			@include desktop {
				padding: 0;
			}
			li {
				display: block;
				margin-right: 15px;
				@include desktop {
					margin-right: 18px;
				}
				a {
					@include flexbox;
					@include justify-content(center);
					@include align-items(center);
					background: none;
					color: inherit;
					border: none;
					padding: 0;
					i {
						position: relative;
						@include flexbox;
						@include justify-content(center);
						@include align-items(center);
					}
				}
				&:hover {
					a {
						background: none;
						color: inherit;
						border: none;
					}
				}
			}
			li#wp-admin-bar-menu-toggle {
				@include desktop {
					display: none !important;
				}
				i {
					width: 24px;
					height: 24px;
				}
				i.menu_arrow {
					display: none;
				}
				span {
					display: none !important;
				}
			}
			li#wp-admin-bar-ecode-logo {
				@include desktop {
					display: none !important;
				}
				i {
					width: 76px;
					height: 30px;
					svg {
						width: 76px;
						height: auto;
					}
				}
			}
			li#wp-admin-bar-litespeed-menu {
				a.ab-item {
					width: 24px;
					height: 24px;
					span.ab-icon {
						padding: 0;
						margin: 0;
						width: 24px;
						height: 24px;
						&:before {
							position: absolute;
							top: 0;
							left: 0;
							color: $c-black;
							width: 24px;
							height: 24px;
							font-size: 23px;
						}
					}
				}
			}
			li#wp-admin-bar-comments {
				span {
					@include flexbox;
					@include justify-content(center);
					@include align-items(center);
					width: 20px;
					height: 20px;
					border-radius: 100%;
					overflow: hidden;
					background-color: $c-c;
					margin-left: 2px;
					color: $c-white;
				}
			}
			div.ab-sub-wrapper {
				background-color: $c-greyfa;
				a.ab-item {
					display: inline-block;
					height: 26px;
					padding: 0 10px;
					width: auto !important;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	#wpbody {
		padding: 0;
		#wpbody-content {
			padding: 0;
		}
	}
}
#wpfooter {
	position: relative;
	display: block;
	padding: 0px 20px 20px;
	margin: 0 !important;
	width: 100%;
	@include desktop {
		width: calc( 100% - 250px );
		margin: 0 0 0 auto !important;
		padding: 0px 30px 77px 60px;
	}
	p {
		position: relative;
		display: block;
		width: 100%;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		color: $c-black99;
		margin-bottom: 20px;
		a {
			color: $c-c;
		}
	}
}
#wpwrap.wp-responsive-open {
	#wpbody {
		right: inherit;
	}
	#adminmenumain {
		left: 0;
	}
	#wpadminbar {
		background-color: $c-white;
		border: none;
		ul {
			li {
				display: none;
			}
			#wp-admin-bar-menu-toggle {
				display: block;
				i.menu_toggle {
					display: none;
				}
				i.menu_arrow {
					display: block;
					svg {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%) rotate(180deg);
					}
				}
			}
			#wp-admin-bar-ecode-logo {
				display: block;
			}
		}
	}
}
