// Variables
$c-white: #FFFFFF;
$c-black: #122532;
$c-black99: #999999;
$c-c: #397AF6;
$c-back: #E9EDF0;
$c-greyf8: #F8F8F8;
$c-greyf6: #f6f6f6;
$c-greyfa: #FAFAFA;
$c-greyea: #EAEAEA;
$c-grey89: #89969F;
$c-orange: #FF5151;
$c-green: #008f05;
$c-hover: #477998;
$c-red: #ff0000;
$font: 'rubik';
$font-bold: 'rubik-bold';
// FIN Variables
