.ecode_section_93_template_109 {
	position: relative;
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);
	align-content: center;
	padding: 100px 30px 32px;
	@include tablet {
		padding: 180px 30px 73px;
	}
	picture {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		opacity: (7/10);
		z-index: 0;
		img {
			position: absolute;
			display: block;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			min-width: 100%;
			min-height: 100%;
			object-fit: cover;
			z-index: 1;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba( 0,0,0,(4/10) );
			z-index: 2;
		}
	}
	.ecode_width_93_109 {
		position: relative;
		align-content: center;
		text-align: center;
		z-index: 10;
		.ecode_title {
			position: relative;
			font-size: 40px;
			line-height: 50px;
			font-weight: 500;
			-webkit-font-smoothing: auto;
			color: $c-white;
			text-align: center;
			margin-bottom: 5px;
			@include tablet {
				font-size: 60px;
				line-height: 74px;
			}
			@include desktop {
				margin-bottom: 10px;
			}
		}
		.container_breadcrumb {
			position: relative;
			display: block;
			width: 100%;
			span, a {
				position: relative;
				display: inline-block;
				font-size: 12px;
				line-height: 26px;
				color: $c-white;
			}
			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.ecode_width_93_109_hide {
		opacity: 0;
		transform: translate(0, 200px);
	}
	.ecode_width_93_109_show {
		opacity: 1;
		transform: translate(0, 0);
		@include transition((3/10)+s);
	}
}
