.ecode_section_51_template_59 {
	position: relative;
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);
	@include flex-wrap(wrap);
	min-height: 450px;
	padding: 30px;
	.ecode_image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 0;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			min-width: 100%;
			min-height: 100%;
			object-fit: cover;
			pointer-events: none;
			z-index: 1;
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba( 0,0,0,(2/10) );
			box-sizing: border-box;
			pointer-events: none;
			z-index: 2;
		}
	}
	.section_width_hide {
		opacity: 0;
		transform: translate(0,-100px);
	}
	.section_width_show {
		opacity: 1;
		transform: translate(0,0);
		@include transition((3/10)+s);
	}
	.ecode_title {
		position: relative;
		font-size: 48px;
		line-height: 68px;
		color: $c-greydd;
		font-family: 'secondary';
		@include tablet {
			font-size: 65px;
			line-height: 90px;
		}
	}
}
