.ecode_section_145_template_215 {
	position: relative;
	display: block;
	.ecode_curves {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 100;
	}
	.ecode_width_145_215 {
		position: relative;
		display: block;
		.ecode_articles {
			position: relative;
			@include flexbox;
			@include justify-content(flex-start);
			@include align-items(flex-start);
			overflow: hidden;
			.ecode_article {
				position: relative;
				@include flexbox;
				@include justify-content(center);
				@include align-items(center);
				@include flex-wrap(wrap);
				align-content: center;
				width: 100%;
				min-width: 100%;
				height: 100vh;
				padding: 15px;
				text-align: center;
				&::after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0,0,0,(4/10));
					z-index: -1;
				}
				.ecode_article_image {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					overflow: hidden;
					z-index: -2;
					img {
						position: absolute;
						display: block;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
						min-width: 100%;
						min-height: 100%;
						object-fit: cover;
					}
				}
				.ecode_article_cat {
					position: relative;
					display: inline-block;
					padding: 6px 23px;
					border-radius: 25px;
					/*! primary_color !*/background-color: $c-c;/*! end_primary_color !*/
					color: $c-white;
					font-size: 13px;
					line-height: 22px;
					text-transform: uppercase;
					text-decoration: none;
					font-weight: bold;
					margin-bottom: 30px;
					overflow: hidden;
					@include tablet {
						padding: 6px 27px;
					}
					&:hover {
						&:after {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background-color: rgba(0,0,0,(2/10));
							pointer-events: none;
						}
					}
				}
				.ecode_article_title {
					position: relative;
					display: block;
					width: 100%;
					font-size: 30px;
					line-height: 42px;
					color: $c-white;
					margin-bottom: 30px;
					@include tablet {
						font-size: 40px;
						line-height: 56px;
					}
					@include desktop {
						font-size: 60px;
						line-height: 84px;
					}
				}
				.ecode_article_ul {
					position: relative;
					@include flexbox;
					@include justify-content(center);
					@include align-items(center);
					@include flex-wrap(wrap);
					width: 100%;
					padding-bottom: 55px;
					.ecode_article_li {
						position: relative;
						min-height: 20px;
						list-style: none;
						padding: 15px 15px 15px 30px;
						i {
							position: absolute;
							top: 50%;
							left: 0;
							transform: translate(0,-50%);
							width: 20px;
							height: 20px;
							svg {
								max-width: 20px;
								max-height: 20px;
							}
						}
						span {
							color: $c-white;
							text-transform: uppercase;
							font-size: 12px;
							line-height: 20px;
						}
					}
				}
				.ecode_article_buttons {
					position: relative;
					@include flexbox;
					@include justify-content(center);
					@include align-items(center);
					@include flex-wrap(wrap);
					width: 100%;
					.ecode_article_button {
						position: relative;
						border: 2px solid $c-white;
						padding: 11px 40px;
						border-radius: 100px;
						color: $c-white;
						margin: 0 15px 30px 0;
						font-size: 13px;
						line-height: 22px;
						text-decoration: none;
						text-transform: uppercase;
						font-weight: bold;
						&:last-child {
							margin-right: 0;
						}
						&:hover {
							border: 2px solid;
							/*! primary_color !*/border-color: $c-c;/*! end_primary_color !*/
							/*! primary_color !*/background-color: $c-c;/*! end_primary_color !*/
						}
						@include tablet {
							margin: 0 30px 30px 0;
						}
					}
				}
			}
			.flickity-button {
				display: none;
				width: 50px;
				height: 50px;
				border: 2px solid $c-white;
				background-color: transparent;
				@include desktop {
					display: block;
				}
				svg {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 15px;
					path {
						color: $c-white;
					}
				}
			}
			.flickity-page-dots {
				bottom: 50px;
				text-align: enter;
				@include desktop {
					display: none;
				}
				li {
					width: 12px;
					height: 12px;
					background-color: transparent;
					border: 2px solid $c-white;
					opacity: 1;
				}
				li.is-selected {
					background-color: $c-white;
				}
			}
		}
		.flickity-enabled {
			display: block;
		}
	}
}
