.ecode_section_60_template_71 {
	position: relative;
	border-top: 7px solid;
	/*! primary_color !*/border-top-color: $c-c;/*! end_primary_color !*/
	overflow: hidden;
	@include desktop {
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(stretch);
		@include flex-wrap(wrap);
		@include flex-direction(row-reverse);
	}
	.ecode_figure {
		position: relative;
		display: block;
		overflow: hidden;
		@include desktop {
			width: 50%;
			order: 0;
		}
		img {
			@include desktop {
				position: absolute;
				display: block;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				min-width: 100%;
				min-height: 100%;
				object-fit: cover;
			}
		}
	}
	.ecode_video {
		position: relative;
		display: block;
		overflow: hidden;
		width: 100%;
		height: 200px;
		@include desktop {
			width: 50%;
			order: 0;
			height: auto;
		}
		video {
			position: absolute;
			display: block;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 100% !important;
			height: 100% !important;
			object-fit: cover;
		}
	}
	article {
		position: relative;
		text-align: center;
		padding: 70px 35px;
		overflow: hidden;
		@include desktop {
			padding: 140px 70px;
			width: 50%;
			order: 1;
		}
		.ecode_back {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			z-index: -1;
			img {
				position: absolute;
				display: block;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				min-width: 100%;
				min-height: 100%;
				object-fit: cover;
			}
		}
		.ecode_article_figure {
			position: relative;
			width: 65px;
			margin: 0 auto 10px;
			img {
				width: 65px;
				height: auto;
			}
		}
		.ecode_article_title {
			position: relative;
			font-size: 30px;
			line-height: 45px;
			margin-bottom: 20px;
			font-family: 'secondary';
		}
		.ecode_article_subtitle {
			position: relative;
			display: block;
			font-size: 18px;
			line-height: 21px;
			/*! primary_color !*/color: $c-c;/*! end_primary_color !*/
			font-weight: 900;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		.ecode_container_content {
			position: relative;
			text-align: center;
			p, a, li {
				font-size: 16px;
				line-height: 32px;
				color: $c-grey68;
			}
			ul, ol {

				li {
					&::after {
						background-color: $c-grey68;
					}
				}
			}
		}
	}
	.ecode_article.ecode_article_hide {
		transform: translate(100px, 0);
	}
	.ecode_article_hide {
		opacity: 0;
	}
	.ecode_article_show {
		transform: translate(0, 0);
		opacity: 1;
		@include transition((3/10)+s);
	}
}
