.ecode_section_20_template_25 {
	position: relative;
	padding: 0 30px;
	max-width: 914px;
	margin: 0 auto 50px;
	.ecode_title {
		position: relative;
		font-size: 19px;
		line-height: 28px;
		letter-spacing: 1px;
		font-weight: normal;
		margin-bottom: 30px;
	}
	.ecode_section {
		@include flexbox;
		@include justify-content(center);
		@include align-items(flex-start);
		@include flex-wrap(wrap);
		.ecode_article {
			width: calc( 50% - 34px );
			margin: 0 17px;
			.ecode_figure {
				position: relative;
				width: 100%;
				height: 100px;
				margin-bottom: 18px;
				overflow: hidden;
				@include tablet {
					height: 200px;
				}
				img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
					height: auto;
				}
			}
			.ecode_article_post {
				position: relative;
				font-size: 18px;
				line-height: 28px;
				font-weight: normal;
				margin-bottom: 5px;
				text-decoration: none;
				color: $c-black;
			}
			.ecode_article_info {
				position: relative;
				font-size: 12px;
				line-height: 27px;
			}
		}
	}
}
