.ecode_section_32_template_39 {
	position: relative;
	display: block;
	padding: 70px 0;
	.ecode_container_width {
		position: relative;
		width: 85%;
		margin: 0 auto;
		@include tablet {
			@include flexbox;
			@include justify-content(flex-start);
			@include align-items(flex-start);
			@include flex-wrap(wrap);
			width: 100%;
			max-width: 1310px;
			padding: 0 30px;
		}
		.ecode_container_content {
			&:first-child {
				margin-bottom: 50px;
			}
			@include tablet {
				width: 50%;
				padding: 0 20px;
				margin: 0;
			}
			* {
				color: $c-grey9c;
			}
			ul, ol {
				li {
					&::after {
						background-color: $c-grey9c;
					}
				}
			}
		}
	}
}
