.ecode_section_135_template_204 {
	position: relative;
	display: block;
	background-color: $c-greyf5;
	padding: 85px 25px 30px;
	@include tablet {
		padding: 110px 25px 50px;
	}
	@include desktop {
		padding: 110px 25px 80px;
	}
	.ecode_width_135_204 {
		position: relative;
		max-width: 1230px;
		margin: 0 auto;
		.ecode_container_content {
			p, a, li {
				font-size: 20px;
				line-height: 36px;
				color: $c-grey67;
			}
			ul, ol {
				li {
					&::after {
						background-color: $c-grey67;
					}
				}
			}
		}
		.ecode_container_content_top {
			margin-bottom: 100px;
		}
		.ecode_container_content_bottom {
			margin-top: 70px;
		}
		.ecode_articles {
			@include desktop {
				@include flexbox;
				@include justify-content(flex-start);
				@include align-items(flex-start);
				@include flex-wrap(wrap);
				padding-bottom: 10px;
			}
			.ecode_article {
				position: relative;
				display: block;
				background-color: $c-white;
				margin-bottom: 40px;
				@include tablet {
					@include flexbox;
					@include justify-content(space-between);
					@include align-items(stretch);
					&:nth-child(2n) {
						@include flex-direction( row-reverse );
					}
				}
				@include desktop {
					width: calc( 50% - 21px );
					margin-right: 42px;
					&:nth-child(2n) {
						margin-right: 0;
					}
					&:last-child {
						margin-right: 0;
					}
				}
				figure {
					position: relative;
					display: block;
					height: 200px;
					overflow: hidden;
					margin-bottom: 10px;
					@include tablet {
						height: auto;
						width: 50%;
						margin: 0;
					}
					img {
						position: absolute;
						display: block;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						min-width: 100%;
						min-height: 100%;
						object-fit: cover;
						z-index: 1;
					}
				}
				.ecode_article_info {
					@include tablet {
						width: 50%;
					}
					.ecode_article_title {
						position: relative;
						font-size: 17px;
						line-height: 22px;
						font-weight: 400;
						text-align: center;
						padding: 25px 25px 40px;
						a {
							text-decoration: none;
							color: inherit;
							&:hover {
								color: $c-c;
							}
						}
					}
					.ecode_article_text {
						position: relative;
						text-align: center;
						padding: 0 25px 25px;
						font-size: 17px;
						line-height: 30px;
						color: $c-grey67;
					}
				}
			}
		}
	}
}
